<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.AttachFileMapper">
      <resultMap id="attachFileMap" type="net.herdao.hdp.manpower.mpclient.entity.AttachFile">
            <id property="id" column="id"/>
            <result property="fileName" column="file_name"/>
            <result property="fileType" column="file_type"/>
            <result property="fileSize" column="file_size"/>
            <result property="fileId" column="file_id"/>
            <result property="moduleType" column="module_type"/>
            <result property="moduleValue" column="module_value"/>
            <result property="bizId" column="biz_id"/>
            <result property="field1" column="FIELD1"/>
            <result property="field2" column="FIELD2"/>
            <result property="field3" column="FIELD3"/>
            <result property="field4" column="FIELD4"/>
            <result property="field5" column="FIELD5"/>
            <result property="tenantId" column="TENANT_ID"/>
            <result property="delFlag" column="DEL_FLAG"/>
            <result property="creatorCode" column="creator_code"/>
            <result property="creatorName" column="creator_name"/>
            <result property="creatorTime" column="creator_time"/>
            <result property="modifierCode" column="modifier_code"/>
            <result property="modifierName" column="modifier_name"/>
            <result property="modifierTime" column="modifier_time"/>
      </resultMap>

      <insert id="insertBatch" parameterType="net.herdao.hdp.manpower.mpclient.entity.AttachFile" >
            insert into mp_attach_file
            (file_name,file_type,file_size,file_id,module_type,creator_time,creator_name,biz_id)
            values
            <foreach collection="list" item="item" index="index" separator=",">
                  (
                  #{item.fileName},
                  #{item.fileType},
                  #{item.fileSize},
                  #{item.fileId},
                  #{item.moduleType},
                  #{item.creatorTime},
                  #{item.creatorName},
                  #{item.bizId}
                  )
            </foreach>
      </insert>

      <!-- 获取-个人简历-简历附件 -->
      <select id="fetchResumeAttachFileInfo" resultType="net.herdao.hdp.manpower.mpclient.dto.attachFile.AttachFileSituationDTO">
          SELECT t1.label file_type,
				 t2.file_count,
			     t2.file_total_size
          FROM
          (
               SELECT di.label,
                      di.`value`
                  FROM
                      sys_dict_item di
                  WHERE
                      di.type = 'JLFJ'
          )t1 LEFT JOIN
          (
               SELECT t.module_value,
                      count( t.module_value ) file_count,
                      sum(t.file_size) file_total_size
                  FROM
                      (
                            SELECT
                                fi.id,
                                fi.file_name,
                                fi.file_size,
                                fi.module_value
                            FROM
                                mp_attach_file fi
                            WHERE
                                fi.module_type = 'JLFJ'
                                AND fi.DEL_FLAG = 0
                      ) t
                  GROUP BY t.module_value
                )t2  on t1.value=t2.module_value
      </select>

    <!-- 获取-入职登记详情-入职附件 -->
    <select id="fetchEntryAttachFileInfo" resultType="net.herdao.hdp.manpower.mpclient.dto.attachFile.AttachFileSituationDTO">
          SELECT t1.label file_type,
				 t2.file_count,
			     t2.file_total_size
          FROM
          (
               SELECT di.label,
                      di.`value`
                  FROM
                      sys_dict_item di
                  WHERE
                      di.type = 'JLFJ'
          )t1 LEFT JOIN
          (
               SELECT t.module_value,
                      count( t.module_value ) file_count,
                      sum(t.file_size) file_total_size
                  FROM
                      (
                            SELECT
                                fi.id,
                                fi.file_name,
                                fi.file_size,
                                fi.module_value
                            FROM
                                mp_attach_file fi
                            WHERE
                                fi.module_type = 'JLFJ'
                                AND fi.DEL_FLAG = 0
                      ) t
                  GROUP BY t.module_value
                )t2  on t1.value=t2.module_value
      </select>
</mapper>
