<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.AttachFileMapper">
      <resultMap id="attachFileMap" type="net.herdao.hdp.manpower.mpclient.entity.AttachFile">
            <id property="id" column="id"/>
            <result property="fileName" column="file_name"/>
            <result property="fileType" column="file_type"/>
            <result property="fileSize" column="file_size"/>
            <result property="fileId" column="file_id"/>
            <result property="moduleType" column="module_type"/>
            <result property="moduleValue" column="module_value"/>
            <result property="bizId" column="biz_id"/>
            <result property="field1" column="FIELD1"/>
            <result property="field2" column="FIELD2"/>
            <result property="field3" column="FIELD3"/>
            <result property="field4" column="FIELD4"/>
            <result property="field5" column="FIELD5"/>
            <result property="tenantId" column="TENANT_ID"/>
            <result property="delFlag" column="DEL_FLAG"/>
            <result property="creatorCode" column="creator_code"/>
            <result property="creatorName" column="creator_name"/>
            <result property="creatorTime" column="creator_time"/>
            <result property="modifierCode" column="modifier_code"/>
            <result property="modifierName" column="modifier_name"/>
            <result property="modifierTime" column="modifier_time"/>
      </resultMap>
      <insert id="insertBatch" parameterType="java.util.List" >
            insert into mp_attach_file
            (file_type,file_size,file_id,module_type,biz_id,creator_time,creator_name)
            values
            <foreach collection="list" item="item" index="index" separator=",">
                  (
                  #{item.fileType},
                  #{item.fileId},
                  #{item.moduleType},
                  #{item.creatorName},
                  #{item.creatorTime},
                  #{item.bizId},
                  #{item.fileSize}
                  )
            </foreach>
      </insert>

</mapper>
