<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.FamilystatusMapper">

      <resultMap id="familystatusMap" type="net.herdao.hdp.manpower.mpclient.entity.Familystatus">
              <id property="id" column="id"/>
              <result property="oid" column="OID"/>
              <result property="name" column="NAME"/>
              <result property="relations" column="RELATIONS"/>
              <result property="age" column="AGE"/>
              <result property="professional" column="PROFESSIONAL"/>
              <result property="workUnit" column="WORK_UNIT"/>
              <result property="creatorCode" column="CREATOR_CODE"/>
              <result property="createdTime" column="CREATED_TIME"/>
              <result property="modifierCode" column="MODIFIER_CODE"/>
              <result property="modifiedTime" column="MODIFIED_TIME"/>
              <result property="staffOid" column="STAFF_OID"/>
              <result property="staffId" column="STAFF_ID"/>
              <result property="birthday" column="BIRTHDAY"/>
              <result property="tenantId" column="TENANT_ID"/>
              <result property="field1" column="FIELD1"/>
              <result property="field2" column="FIELD2"/>
              <result property="field3" column="FIELD3"/>
              <result property="field4" column="FIELD4"/>
              <result property="field5" column="FIELD5"/>
              <result property="delFlag" column="DEL_FLAG"/>
              <result property="address" column="address"/>
              <result property="modifierName" column="modifier_name"/>
              <result property="staffName" column="staff_name"/>
              <result property="staffCode" column="staff_code"/>
      </resultMap>

      <!-- 员工家庭情况分页 -->
      <select id="findFamilyStatusPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staffFamily.FamilyStatusListDTO">
          SELECT  t.id,
                  t.staff_name,
                  t.staff_code,
                  t.NAME,
                  t.RELATIONS,
                  t.age,
                  t.PROFESSIONAL,
                  t.WORK_UNIT,
                  t.address,
                  CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc,
                  t.group_id,
                  t.GROUP_NAME
          FROM
          (
                  SELECT
                  f.id,
                  s.staff_name,
                  s.staff_code,
                  f.NAME,
                  dic.label RELATIONS,
                  f.age,
                  f.PROFESSIONAL,
                  f.WORK_UNIT,
                  f.address,
                  f.modifier_name,
                  f.MODIFIED_TIME,
                  g.ID group_id,
                  g.GROUP_NAME
                  FROM mp_familystatus f
                  LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
                  LEFT JOIN sys_dict_item dic ON dic.type = 'RELATIONS_TYPE' AND dic.`value` = f.RELATIONS
                  LEFT JOIN mp_userpost up ON s.USER_ID = up.USER_ID and up.MAIN_POST=1
                  LEFT JOIN mp_post p ON p.ID = up.POST_ID
                  LEFT JOIN mp_group g on p.GROUP_ID=g.ID
        		  LEFT JOIN mp_organization o ON up.ORG_DEPT_ID = o.ID
                  WHERE  f.del_flag = 0
                  <if test="groupId != null">
                      and p.GROUP_ID = #{query.groupId}
                  </if>
                  <if test="orgId != null">
		          	AND o.ORG_CODE like (select CONCAT(org.ORG_CODE,'%') from mp_organization org where org.id=#{orgId} limit 1)
		          </if>
                  ORDER BY f.CREATED_TIME desc
          ) t
          <where>
              <if test="searchText != null and searchText !='' ">
                  and CONCAT(
                      IFNULL( t.staff_name,''), IFNULL( t.staff_code,''),IFNULL( t.NAME,''),IFNULL( t.RELATIONS,''),
                      IFNULL( t.age,''),IFNULL( t.PROFESSIONAL,''),IFNULL( t.WORK_UNIT,''),IFNULL( t.address,''),
                      IFNULL( t.modifier_name,''),IFNULL( t.MODIFIED_TIME,'')
                  ) LIKE concat('%',#{searchText},'%')
              </if>
          </where>
      </select>

    <!-- 员工家庭情况 -->
    <select id="findFamilyStatus" resultType="net.herdao.hdp.manpower.mpclient.vo.FamilyStatusVO">
        SELECT  t.id,
                t.staff_name,
                t.staff_code,
                t.NAME,
                t.RELATIONS,
                t.age,
                t.PROFESSIONAL,
                t.WORK_UNIT,
                t.address,
                CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc,
                t.group_id,
                t.GROUP_NAME
            FROM
        (
          SELECT
            f.id,
            s.staff_name,
            s.staff_code,
            f.NAME,
            dic.label RELATIONS,
            f.age,
            f.PROFESSIONAL,
            f.WORK_UNIT,
            f.address,
            f.modifier_name,
            f.MODIFIED_TIME,
            g.ID group_id,
            g.GROUP_NAME
        FROM   mp_familystatus f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN sys_dict_item dic ON dic.type = 'RELATIONS_TYPE'
            AND dic.`value` = f.RELATIONS
            LEFT JOIN mp_userpost up ON s.USER_ID = up.USER_ID and up.MAIN_POST=1
            LEFT JOIN mp_post p ON p.ID = up.POST_ID
            LEFT JOIN mp_group g on p.GROUP_ID=g.ID
            WHERE  f.del_flag = 0
            <if test="query.groupId != null">
                and p.GROUP_ID = #{query.groupId}
            </if>
            ORDER BY f.CREATED_TIME desc
        ) t
        <where>
            <if test="searchText != null">
                and CONCAT(
                    IFNULL( t.staff_name,''), IFNULL( t.staff_code,''),IFNULL( t.NAME,''),IFNULL( t.RELATIONS,''),
                    IFNULL( t.age,''),IFNULL( t.PROFESSIONAL,''),IFNULL( t.WORK_UNIT,''),IFNULL( t.address,''),
                    IFNULL( t.modifier_name,''),IFNULL( t.MODIFIED_TIME,'')
                ) LIKE concat('%',#{searchText},'%')
            </if>
        </where>
    </select>

    <!-- 员工家庭情况 -->
    <select id="findStaffFamilyStatus" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffFamilyDTO">
    	SELECT
        	f.id,
        	s.staff_name,
        	s.staff_code,
        	f.NAME,
        	f.RELATIONS,
        	dic.label RELATIONSName,
        	f.age,
        	f.PROFESSIONAL,
        	f.WORK_UNIT,
        	f.address,
        	f.modifier_name,
        	f.MODIFIED_TIME,
            CONCAT( f.modifier_name, " 于 ", f.MODIFIED_TIME, " 更新" ) updateDesc,
            f.STAFF_ID staffId
        FROM mp_familystatus f
        LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
        LEFT JOIN sys_dict_item dic ON dic.type = 'RELATIONS_TYPE' AND dic.`value` = f.RELATIONS
        WHERE 1 = 1  AND f.del_flag = 0
        <if test="staffid != null">
            and f.STAFF_ID = #{staffid}
        </if> 
        ORDER BY f.CREATED_TIME desc
    </select>
</mapper>
