<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, hdp All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: hdp
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.GroupMapper">

  <resultMap id="mpGroupMap" type="net.herdao.hdp.manpower.mpclient.entity.Group">
                  <id property="id" column="ID"/>
                        <result property="groupCode" column="GROUP_CODE"/>
                        <result property="groupName" column="GROUP_NAME"/>
                        <result property="remark" column="REMARK"/>
                        <result property="sortNo" column="SORT_NO"/>
                        <result property="orgId" column="ORG_ID"/>
                        <result property="orgCode" column="ORG_CODE"/>
                        <result property="groupFullname" column="GROUP_FULLNAME"/>
                        <result property="tenantId" column="TENANT_ID"/>
            </resultMap>



    <select id="groupList" parameterType="pipeline" resultType="map">
       	select id,group_code AS code,group_name AS name from mp_group
    </select>

    <select id="groupPage" resultType="net.herdao.hdp.manpower.mpclient.dto.GroupListDTO">
        SELECT
            g.ID,
            g.GROUP_NAME,
            g.GROUP_CODE,
            g.ORG_ID,
            o.ORG_NAME,
            o.ORG_CODE,
            o.IS_VIRTUAL,
            o.IS_STOP,
            g.SORT_NO,
            o.emp_in_service,
            g.CREATOR_NAME,
            g.CREATED_TIME,
            g.MODIFIER_NAME,
            g.MODIFIED_TIME,
            g.FIELD1,
            g.FIELD2,
            g.FIELD3,
            g.FIELD4,
            g.FIELD5
        FROM
            mp_group g
        LEFT JOIN mp_organization o ON g.ORG_ID = o.ID
        <where>
            AND g.del_flag = 0
            <if test="searchText != null and searchText!=''">
                AND  CONCAT(g.GROUP_NAME,o.ORG_NAME) like CONCAT('%',#{searchText},'%')
            </if>
            <if test="isStop != null">
                AND  o.IS_STOP = #{isStop}
            </if>
        </where>
    </select>
    <select id="xx">

    </select>
</mapper>
