<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.JobLevelMapper">


    <resultMap id="jobLevelDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.jobLevel.JobLevelDTO">
        <result property="jobGradeId" column="job_grade_id"/>
        <association property="jobGrade" column="job_grade_id" javaType="jobGrade"
                     select="net.herdao.hdp.manpower.mpclient.mapper.JobGradeMapper.selectById" />
    </resultMap>

    <select id="page" resultMap="jobLevelDTOMap" parameterType="jobLevel">
        select * from mp_job_level where 1=1
        <if test="jobLevel.id != null">
            and id = #{jobLevel.id}
        </if>
        <if test="jobLevel.jobLevelName != null">
            <bind name="likeTxt" value="'%'+jobLevel.jobLevelName+'%'"/>
            job_level_code like #{likeTxt} or job_level_name like #{likeTxt}
        </if>
    </select>



    <select id="jobLevelList" resultType="map">
       	select id,job_level_code AS code,job_level_name AS name from mp_job_level where group_id = #{groupId}
    </select>



    <select id="chkCodeAndName" parameterType="jobLevel" resultType="boolean">
        SELECT count(*) from mp_job_level  where
        ( JOB_LEVEL_NAME = #{jobLevelName} AND JOB_LEVEL_CODE != #{jobLevelCode} ) OR
        ( JOB_LEVEL_NAME != #{jobLevelName} AND JOB_LEVEL_CODE = #{jobLevelCode} )
    </select>


    <select id="chkDuplicateJobLevelCode" parameterType="jobLevel" resultType="boolean">
         SELECT count(*) from mp_job_level  where  (#{id} is null or  id != #{id})  and  job_level_code = #{jobLevelCode}
    </select>

    <select id="chkDuplicateJobLevelName" parameterType="jobLevel" resultType="boolean">
        SELECT count(*) from mp_Job_Level  where  (#{id} is null or  id != #{id})   and  job_level_name = #{jobLevelName}
    </select>
</mapper>
