<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.JobLevelMapper">

    <resultMap id="jobLevelDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.jobLevel.JobLevelDTO">
        <id column="id" property="id"/>
        <result property="jobGradeId" column="job_grade_id"/>
        <association property="onJobStaffs" column="id" select="getOnJobStaffs" javaType="int"/>

        <association property="jobGrade" column="job_grade_id" javaType="jobGrade"
                     select="net.herdao.hdp.manpower.mpclient.mapper.JobGradeMapper.selectIgnoreDel"/>
    </resultMap>

    <select id="page" resultMap="jobLevelDTOMap" parameterType="jobLevel">
        select * from mp_job_level where del_flag !=1 and group_id = #{t.groupId}
        and exists (select * from mp_group g where g.id = GROUP_ID and g.DEL_FLAG !=1)
        <if test="t.jobGradeId != null">
            and job_grade_id = #{t.jobGradeId}
        </if>
        <if test="t.jobLevelName != null">
            <bind name="likeTxt" value="'%'+t.jobLevelName+'%'"/>
            and(job_level_code like #{likeTxt} or job_level_name like #{likeTxt})
        </if>
    </select>

    <select id="form" resultMap="jobLevelDTOMap"  >
        select * from mp_job_level where id = #{id}
    </select>

    <select id="checkDuplicateNameInJobGrade" parameterType="jobLevel" resultType="boolean">
      select case when  exists (
      select * from mp_job_level where job_level_name = #{jobLevelName}
      and job_grade_id = #{jobGradeId} and (id !=#{id} or #{id} is null)
      and del_flag != 1 ) then 1 else 0 end  as duplicateName
    </select>

    <select id="getLastEntityCode" resultType="string" parameterType="jobLevel"  >
      SELECT IFNULL(job_level_code,'000000') FROM mp_job_level
      WHERE id=(select max(id) from mp_job_level where job_grade_id=#{jobGradeId})
    </select>

    <select id="getOnJobStaffs" parameterType="long" resultType="int">
        select count(*) from mp_post p, mp_userpost up , mp_staff s
        where p.id = up.POST_ID and s.user_id = up.USER_ID and up.USER_ID = s.user_id
        and s.STAFF_SCOPE = '1' and p.id  in (select id from mp_post where JOB_LEVEL_ID1 = #{id} or JOB_LEVEL_ID2 = #{id})
    </select>

    <select id="jobLevelList" resultType="map">
       	select id,job_level_code AS code,job_level_name AS name from mp_job_level
       	where group_id = #{groupId} and del_flag != 1
    </select>
</mapper>
