<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OKJobLevleSysMapper">


    <resultMap id="okJobLevleSysDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.jobLevel.vo.OKJobLevleSysDTO">
        <id column="id" property="id"/>
        <collection property="okJobGradeDTOList" column="id" select="getOKJobGradeDTOList"
                    ofType="net.herdao.hdp.manpower.mpclient.dto.jobLevel.vo.OKJobGradeDTO" />
    </resultMap>

    <resultMap id="okJobGradeDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.jobLevel.vo.OKJobGradeDTO">
        <id column="id" property="id"/>
        <result property="jobGradeName" column="job_grade_name"/>
        <collection property="okJobLevelDTOList" column="id" select="getOKJobLevelDTOList"
                    ofType="net.herdao.hdp.manpower.mpclient.dto.jobLevel.vo.OKJobLevelDTO" />
    </resultMap>

    <resultMap id="okJobLevelDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.jobLevel.vo.OKJobLevelDTO">
        <id column="id" property="id"/>
    </resultMap>


    <select id="findDetail" parameterType="long" resultMap="okJobLevleSysDTOMap">
      SELECT * from mp_ok_job_level_sys where id = #{id}
    </select>

    <select id="getOKJobGradeDTOList" parameterType="long" resultMap="okJobGradeDTOMap">
       select * from mp_ok_job_grade WHERE ok_job_level_sys_id= #{id}
    </select>

    <select id="getOKJobLevelDTOList" parameterType="long" resultMap="okJobLevelDTOMap">
       select * from mp_ok_job_level WHERE ok_job_grade_id= #{id}
    </select>

</mapper>
