<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OKPostSeqSysMapper">

    <resultMap id="okPostSeqSysDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.vo.OKPostSeqSysDTO">
        <id column="id" property="id"/>
        <collection property="okPostSeqDTOList" column="id" select="getOKPostSeqDTOList"
                    ofType="net.herdao.hdp.manpower.mpclient.dto.post.vo.OKPostSeqDTO" />
    </resultMap>

    <resultMap id="okPostSeqDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.vo.OKPostSeqDTO">
        <id column="id" property="id"/>
        <result property="postSeqName" column="post_seq_name"/>
        <collection property="okPostDTOList" column="id" select="getOKPostDTOList"
                    ofType="net.herdao.hdp.manpower.mpclient.dto.post.vo.OKPostDTO" />
    </resultMap>

    <resultMap id="okPostDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.vo.OKPostDTO">
        <id column="id" property="id"/>
    </resultMap>

    <select id="findDetail" parameterType="long" resultMap="okPostSeqSysDTOMap">
      SELECT * from mp_ok_post_seq_sys where id = #{id}
    </select>

    <select id="getOKPostSeqDTOList" parameterType="long" resultMap="okPostSeqDTOMap">
       select * from mp_ok_post_seq WHERE ok_post_seq_sys_id= #{id}
    </select>

    <select id="getOKPostDTOList" parameterType="long" resultMap="okPostDTOMap">
       select * from mp_ok_post WHERE ok_post_seq_id= #{id}
    </select>




</mapper>
