<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.mpclient.mapper.OrganizationMapper">
    <resultMap id="organizationMap" type="net.herdao.hdp.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="isStop"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
    </resultMap>

    <resultMap id="organizationChildrenMap" type="net.herdao.hdp.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="IS_STOP"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <collection property="children" column="id" ofType="net.herdao.hdp.mpclient.entity.Organization" select="selectChildrenOrgan"></collection>
     </resultMap>

    <resultMap id="organTreeMap" type="net.herdao.hdp.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="is_stop"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <collection property="parent" column="PARENT_ID" ofType="net.herdao.hdp.mpclient.entity.Organization" select="selectParentOrgan"></collection>
        <collection property="children" column="id" ofType="net.herdao.hdp.mpclient.entity.Organization" select="selectChildrenOrgan"></collection>
    </resultMap>

    <resultMap id="orgAllChildMap" type="net.herdao.hdp.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="is_stop"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <collection property="children" column="id" ofType="net.herdao.hdp.mpclient.entity.Organization" select="getAllChildrenOrgan"></collection>
    </resultMap>




    <!-- 点击查看组织架构详情 -->
    <select id="selectOrganByCurrentOrgOid" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        order by SORT_NO
    </select>

    <!-- 递归查询父组织架构 -->
    <select id="selectParentOrgan" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization WHERE 1=1
        <if test="parentId!=null">
            AND id = #{parentOid}
        </if>
        order by SORT_NO
    </select>


    <!-- 查询根组织架构 -->
     <select id="findAllOrganizations" resultMap="organizationChildrenMap">
        SELECT
            *
        FROM
            mp_organization
        WHERE 1=1
         <if test="isRoot == true">
             AND PARENT_ID IS NULL
         </if>

         <if test="id != null">
             AND id = #{id}
         </if>

         <if test="isStop != null">
             AND is_stop = #{isStop}
         </if>
         <if test="tenantId != null">
             AND TENANT_ID = #{tenantId}
         </if>
      </select>

    <!-- 查询根组织架构 无限级递归 -->
    <select id="findAllOrg" resultMap="orgAllChildMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        <if test="isRoot == true">
            AND PARENT_ID IS NULL
        </if>

        <if test="id != null">
            AND id = #{id}
        </if>

        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>
        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId}
        </if>
    </select>

      <!-- 查询子组织结构表 -->
      <select id="selectChildrenOrgan" resultMap="organizationChildrenMap">
            SELECT * FROM mp_organization
            WHERE 1=1
            and org_tree_level &lt;= 2
          <if test="parentId != null">
              AND PARENT_ID=#{parentId}
          </if>

            order by SORT_NO
       </select>

    <!-- 查询子组织结构表 -->
    <select id="getAllChildrenOrgan" resultMap="orgAllChildMap">
        SELECT * FROM mp_organization
        WHERE 1=1
        <if test="parentId != null">
            AND PARENT_ID=#{parentId}
        </if>

        order by SORT_NO
    </select>

    <!-- 查询子组织结构表 -->
    <select id="selectChildrenOrganClick" resultMap="organizationChildrenMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization
        WHERE 1=1
        <if test="parentId != null">
            AND PARENT_ID=#{parentId}
        </if>
        <!-- <if test="isStop != null">
             AND is_stop = #{isStop}
         </if>-->
        order by SORT_NO
    </select>

    <!-- 高级搜索组织架构 -->
    <select id="findOrganizationByCondition" resultMap="organizationMap" >
        SELECT * FROM mp_organization WHERE 1=1

        <if test="id != null">
            AND id = #{id}
        </if>

        <if test="parentId != null">
            AND PARENT_ID = #{parentId}
        </if>

        <if test="orgLevel != null">
            AND org_tree_level = #{orgLevel}
        </if>

        <if test="orgName != null">
            AND ORG_NAME = #{orgName}
        </if>

        <if test="orgCode != null">
            AND ORG_CODE = #{orgCode}
        </if>

        <if test="orgLevel != null">
            AND org_tree_level = #{orgLevel}
        </if>

        <if test="createdTime != null">
            AND DATE_FORMAT(CREATED_TIME, '%Y-%m-%d') = #{createdTime}
        </if>

        <if test="isVirtual != null">
            AND is_virtual = #{isVirtual}
        </if>

        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>

        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId}
        </if>

        order by SORT_NO
    </select>

    <!-- 关键字搜索组织架构 -->
    <select id="findOrganizationByKeyWords" resultMap="organizationMap" >
        SELECT
          *
        FROM
        mp_organization
        WHERE
        1 = 1
        <if test="keyword != null">
             and (
                ORG_NAME like CONCAT('%', #{keyword}, '%')
                or ORG_FULLNAME = #{orgFullname}
                or ORG_CODE = #{keyword}
             )
        </if>

        ORDER BY
        SORT_NO
    </select>

    <!-- 查询根组织架构 -->
    <select id="findRootOrganizations" resultMap="organizationMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        <if test="id != null">
            AND  id = #{id}
        </if>
        <if test="isRoot == true ">
            AND  PARENT_ID IS NULL
        </if>
        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>
        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId}
        </if>
    </select>


    <update id="stopOrganById" >
          UPDATE mp_organization m
            SET m.IS_STOP = 0
            WHERE 1=1
            <if test="id != null">
                AND  id = #{id}
            </if>
    </update>


    <update id="startOrganById" >
        UPDATE mp_organization m
        SET m.IS_STOP = 1
        WHERE 1=1
        <if test="id != null">
            AND  id = #{id}
        </if>
    </update>


    <!-- 组织架构分页 -->
    <select id="findOrgPage" resultMap="organizationMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        and id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

        limit #{pageStart},#{limit}
    </select>

</mapper>
