<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OrganizationMapper">
    <resultMap id="organizationMap" type="net.herdao.hdp.manpower.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="isStop"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierId" column="MODIFIER_ID"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="startOrgOperateDate" column="start_org_oper_date"/>
        <result property="endOrgOperateDate" column="end_org_oper_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <result property="createDesc" column="create_desc"/>
        <result property="updateDesc" column="update_desc"/>
    </resultMap>

    <resultMap id="organizationChildrenMap" type="net.herdao.hdp.manpower.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="IS_STOP"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierId" column="MODIFIER_ID"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="startOrgOperateDate" column="start_org_oper_date"/>
        <result property="endOrgOperateDate" column="end_org_oper_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <collection property="children" column="id" ofType="net.herdao.hdp.manpower.mpclient.entity.Organization" select="selectChildrenOrgan"></collection>
     </resultMap>

    <resultMap id="organTreeMap" type="net.herdao.hdp.manpower.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="is_stop"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierId" column="MODIFIER_ID"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <result property="startOrgOperateDate" column="start_org_oper_date"/>
        <result property="endOrgOperateDate" column="end_org_oper_date"/>
        <collection property="parent" column="PARENT_ID" ofType="net.herdao.hdp.manpower.mpclient.entity.Organization" select="selectParentOrgan"></collection>
        <collection property="children" column="id" ofType="net.herdao.hdp.manpower.mpclient.entity.Organization" select="selectChildrenOrgan"></collection>
    </resultMap>

    <resultMap id="orgAllChildMap" type="net.herdao.hdp.manpower.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="is_stop"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierId" column="MODIFIER_ID"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <result property="startOrgOperateDate" column="start_org_oper_date"/>
        <result property="endOrgOperateDate" column="end_org_oper_date"/>
        <collection property="children" column="id" ofType="net.herdao.hdp.manpower.mpclient.entity.Organization" select="getAllChildrenOrgan"></collection>
    </resultMap>


    <!-- 类型是部门的组织架构树 -->
    <resultMap id="organDeptTreeMap" type="net.herdao.hdp.manpower.mpclient.entity.Organization">
        <id property="id" column="ID"/>
        <result property="oid" column="OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="orgLevel" column="org_tree_level"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isStop" column="is_stop"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierId" column="MODIFIER_ID"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="isVirtual" column="IS_VIRTUAL"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="orgDesc" column="org_desc"/>
        <result property="orgChargeName" column="org_charge_name"/>
        <result property="orgChargeWorkNo" column="org_charge_work_no"/>
        <result property="orgSimpleDesc" column="org_simple_desc"/>
        <result property="chargeOrg" column="charge_org"/>
        <result property="staff" column="staff"/>
        <result property="empInService" column="emp_in_service"/>
        <result property="startDate" column="start_date"/>
        <result property="stopDate" column="stop_date"/>
        <result property="orgTreeLevel" column="org_tree_level"/>
        <result property="startOrgOperateDate" column="start_org_oper_date"/>
        <result property="endOrgOperateDate" column="end_org_oper_date"/>
        <collection property="children" column="{parentId=id,orgType=ORG_TYPE}" ofType="net.herdao.hdp.manpower.mpclient.entity.Organization" select="fetchChildrenDeptTree"></collection>
    </resultMap>
    
    <!-- 部门信息 MAP -->
	<resultMap type="net.herdao.hdp.manpower.mpclient.vo.OrganizationComponentVO" id="organizationComponentMap">
		<result column="id" property="id" />
		<result column="orgName" property="org_name" />
		<result column="orgCode" property="org_code" />
		<result column="parentOrgName" property="parent_org_name" />
		<result column="parentOrgCode" property="parent_org_code" />
		<collection column="{orgCode=org_code}" property="organizationComponents" ofType="OrganizationComponentVO" javaType="java.util.ArrayList" select="selectOrganizationChildrens"/>
	</resultMap>
	
	 <!-- 组织树 vo -->
    <resultMap type="net.herdao.hdp.manpower.mpclient.vo.organization.OrganizationTreeVO" id="organizationTreeMap">
		<result column="id" property="id" />
		<result column="orgName" property="org_name" />
		<result column="orgCode" property="org_code" />
		<result column="leafNode" property="leaf_node" />
		<collection column="id" property="organizationChildrens" ofType="OrganizationTreeVO" javaType="java.util.ArrayList" select="selectSecondOrganization"/>
	</resultMap>
	
	<!-- 组织树 模糊查询vo -->
	<resultMap type="net.herdao.hdp.manpower.mpclient.vo.organization.OrganizationTreeVO" id="organizationTreeListMap">
		<result column="id" property="id" />
		<result column="orgName" property="org_name" />
		<result column="orgCode" property="org_code" />
		<result column="leafNode" property="leaf_node" />
	</resultMap>

    <!-- 查询类型是部门的组织架构树 -->
    <select id="fetchDeptTree" resultMap="organDeptTreeMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        <if test="isRoot!= null and isRoot == true">
            AND PARENT_ID IS NULL
        </if>

        <if test="id != null">
            AND id = #{id}
        </if>

        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>

        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId}
        </if>
        <if test="orgType != null">
            AND org_type = #{orgType}
        </if>
    </select>

    <!-- 查询子组织结构表 -->
    <select id="fetchChildrenDeptTree" resultMap="organDeptTreeMap">
        SELECT * FROM mp_organization
        WHERE 1=1
        <if test="parentId != null">
            AND PARENT_ID = #{parentId}
        </if>
        <if test="orgType != null">
            AND ORG_TYPE = #{orgType}
        </if>

        order by SORT_NO
    </select>


    <!-- 点击查看组织架构详情 -->
    <select id="selectOrganByCurrentOrgOid" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        order by SORT_NO
    </select>

    <!-- 递归查询父组织架构 -->
    <select id="selectParentOrgan" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization WHERE 1=1
        <if test="parentId!=null">
            AND id = #{parentOid}
        </if>
        order by SORT_NO
    </select>
    
	<!-- 递归查询组织树 sql -->
	<sql id="organizationTreeSQL">
		SELECT
            org.id,
            org.org_name,
            org.org_code,
            CASE IFNULL(nbs, 0) WHEN 0 THEN 1 ELSE 0 END leaf_node
        FROM mp_organization org 
        LEFT JOIN (SELECT COUNT(1) nbs, orgd.parent_id FROM mp_organization orgd GROUP BY orgd.parent_id) corg ON corg.parent_id = org.id 
	</sql>
	
    <!-- 查询根组织架构 -->
    <select id="selectOrganizationTree" resultMap="organizationTreeMap">
        <include refid="organizationTreeSQL"></include>
        WHERE org.parent_id IS NULL
    </select>
     
    <!-- 递归查询二级组织树 -->
    <select id="selectSecondOrganization" resultMap="organizationTreeMap">
       <include refid="organizationTreeSQL"></include>
       <where>
           AND org.parent_id = #{id} AND org.org_tree_level &lt;= 2
        </where>
    </select>
    
    <!-- 组织树模糊查询 -->
    <select id="organizationTreeList" resultMap="organizationTreeListMap">
       <include refid="organizationTreeSQL"></include>
       <where>
          <if test="orgCode != null">
          		AND org.org_code != #{orgCode} AND org.org_code LIKE CONCAT(#{orgCode},'%') AND LENGTH(org.org_code) &lt;= LENGTH(#{orgCode}) + 3
          </if>
           <if test="searchText != null">
          		AND CONCAT(org.org_name, org.org_code) LIKE CONCAT('%',#{searchText},'%')
          </if>
        </where>
    </select>

    <!-- 查询根组织架构 无限级递归 -->
    <select id="findAllOrg" resultMap="orgAllChildMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        <if test="isRoot == true">
            AND PARENT_ID IS NULL
        </if>

        <if test="id != null">
            AND id = #{id}
        </if>

        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>
    </select>

      <!-- 查询子组织结构表 -->
      <select id="selectChildrenOrgan" resultMap="organizationChildrenMap">
            SELECT * FROM mp_organization
            WHERE 1=1
            and org_tree_level &lt;= 2
          <if test="parentId != null">
              AND PARENT_ID=#{parentId}
          </if>

            order by SORT_NO
       </select>

    <!-- 查询子组织结构表 -->
    <select id="getAllChildrenOrgan" resultMap="orgAllChildMap">
        SELECT * FROM mp_organization
        WHERE 1=1
        <if test="parentId != null">
            AND PARENT_ID=#{parentId}
        </if>

        order by SORT_NO
    </select>

    <!-- 查询子组织结构表 -->
    <select id="selectChildrenOrganClick" resultMap="organizationChildrenMap" parameterType="java.lang.String">
        SELECT * FROM mp_organization
        WHERE 1=1
        <if test="parentId != null">
            AND PARENT_ID=#{parentId}
        </if>
        <!-- <if test="isStop != null">
             AND is_stop = #{isStop}
         </if>-->
        order by SORT_NO
    </select>

    <!-- 高级搜索组织架构 -->
    <select id="findOrganizationByCondition" resultMap="organizationMap" >
        SELECT * FROM mp_organization WHERE 1=1

        <if test="id != null">
            AND id = #{id}
        </if>

        <if test="parentId != null">
            AND PARENT_ID = #{parentId}
        </if>

        <if test="orgLevel != null">
            AND org_tree_level = #{orgLevel}
        </if>

        <if test="orgName != null">
            AND ORG_NAME = #{orgName}
        </if>

        <if test="orgCode != null">
            AND ORG_CODE = #{orgCode}
        </if>

        <if test="orgLevel != null">
            AND org_tree_level = #{orgLevel}
        </if>

        <if test="createdTime != null">
            AND DATE_FORMAT(CREATED_TIME, '%Y-%m-%d') = #{createdTime}
        </if>

        <if test="isVirtual != null">
            AND is_virtual = #{isVirtual}
        </if>

        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>

        order by SORT_NO
    </select>

    <!-- 关键字搜索组织架构 -->
    <select id="findOrganizationByKeyWords" resultMap="organizationMap" >
        SELECT
          *
        FROM
        mp_organization
        WHERE
        1 = 1
        <if test="keyword != null">
             and (
                ORG_NAME like CONCAT('%', #{keyword}, '%')
                or ORG_FULLNAME = #{orgFullname}
                or ORG_CODE = #{keyword}
             )
        </if>

        ORDER BY
        SORT_NO
    </select>

    <!-- 查询根组织架构 -->
    <select id="findRootOrganizations" resultMap="organizationMap">
        SELECT
        *
        FROM
        mp_organization
        WHERE 1=1
        <if test="id != null">
            AND  id = #{id}
        </if>
        <if test="isRoot == true ">
            AND  PARENT_ID IS NULL
        </if>
        <if test="isStop != null">
            AND is_stop = #{isStop}
        </if>
    </select>

    <update id="stopOrganById" >
          UPDATE mp_organization m
            SET m.IS_STOP = 1
            WHERE 1=1
            <if test="id != null">
                AND  id = #{id}
            </if>
    </update>

    <update id="startOrganById" >
        UPDATE mp_organization m
        SET m.IS_STOP = 0
        WHERE 1=1
        <if test="id != null">
            AND  id = #{id}
        </if>
    </update>

    <!-- 组织列表分页查询  -->
    <select id="findOrgPage" resultType="net.herdao.hdp.manpower.mpclient.vo.organization.OrganizationVO">
        SELECT  orgList.id,
                orgList.org_name,
                orgList.org_code,
                orgList.org_type,
                orgList.org_charge_name,
                orgList.post_name,
                orgList.staff_total,
                orgList.workforce_total,
                orgList.create_desc,
                orgList.update_desc
        FROM (
		        SELECT
			        org.id,
			        org.org_name,
			        org.org_code,
			       	org.org_type,
			        org.org_charge_name,
			        org.is_stop,
			        0 staff_total ,
			        ps.post_name,
			        IFNULL(workforce_total, 0) AS workforce_total,
			        CONCAT( cus.user_name, ' 于 ', org.created_time ,'创建') create_desc,
			        CONCAT( mus.user_name, ' 于 ', org.modified_time ,'更新') update_desc
        		FROM mp_organization org 
        		LEFT JOIN (SELECT COUNT(us.id) AS workforce_total, org_dept_id FROM mp_user us WHERE us.is_stop = 0 GROUP BY org_dept_id) usT ON usT.org_dept_id = org.id
        		LEFT JOIN mp_post ps ON ps.id = org.post_id
        		LEFT JOIN mp_user cus ON cus.id = org.creator_id 
        		LEFT JOIN mp_user mus ON mus.id = org.modifier_id 
       		 ) orgList
	        <where>
	        	<if test="stop != null and stop != 3">
		            AND orgList.is_stop = #{stop}
		        </if>
		        <if test="orgCode != null">
		            AND orgList.org_code != #{orgCode} AND orgList.org_code LIKE CONCAT(#{orgCode},'%') 
		        </if>
	        	<if test="searchText != null">
	        		AND CONCAT(orgList.org_name, IFNULL(orgList.org_charge_name, ''), IFNULL(orgList.create_desc, ''), IFNULL(orgList.update_desc, '')) LIKE CONCAT('%',#{searchText},'%')
	        	</if>
	        </where>
    </select>


    <!-- 组织架构详情 -->
    <select id="findOrgDetails" resultMap="organizationMap">
            SELECT  org.id,
                    org.ORG_NAME,-- 组织名称
                    org.org_simple_desc,-- 组织简称
                    org.ORG_CODE,-- 组织编码
                    ( SELECT p.ORG_NAME FROM mp_organization p WHERE p.id = org.PARENT_ID ) parentName,-- 上级组织
                    ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.ORG_LEVEL ) org_level,-- 组织层级
                    ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_type ) org_type,-- 组织类型
                    ( SELECT u.USER_NAME FROM mp_user u WHERE u.ID = org.org_charge_work_no ) org_charge_name,-- 部门负责人
                    ( SELECT p.POST_NAME FROM mp_post p WHERE p.ID = org.charge_org ) charge_org,-- 负责岗位
                    0 staff,-- 组织编制
                    '福利' welfareType,   -- 福利类型
                    org.org_desc, -- 组织描述
                    CASE
                        WHEN org.IS_VIRTUAL = 0 THEN
                        '否'
                        WHEN org.IS_VIRTUAL = 1 THEN
                        '是'
                    END VIRTUA,  -- 是否虚拟组织
                    org.start_date,  -- 启用日期
                    org.stop_date,  -- 停用日期
                    CASE
                        WHEN org.IS_STOP = 1 THEN
                        '否'
                        WHEN org.IS_STOP = 0 THEN
                        '是'
                    END enableStatus
                    FROM
                        mp_organization org
                where 1=1
                <if test="id != null">
                    AND  org.id = #{id}
                </if>
    </select>
    
    <!-- 查询部门信息组件  -->
	<select id="selectOrganizations" resultMap="organizationComponentMap">
		SELECT 
			org.id,
			org.org_name, 
			org.org_code,
			orgp.org_name AS parent_org_name, 
			orgp.org_code AS parent_org_code
		FROM mp_organization org LEFT JOIN mp_organization orgp ON org.parent_id = orgp.id
		<where>
			AND org.parent_id IS NULL
			 <if test="searchText != null">
                  <!-- 权限条件 -->
              </if>
		</where>
	</select>

	<!-- 查询子部门/组织信息 -->
	<select id="selectOrganizationChildrens" resultMap="organizationComponentMap">
		SELECT 
			org.id,
			org.org_name, 
			org.org_code,
			orgp.org_name AS parent_org_name, 
			orgp.org_code AS parent_org_code
		FROM mp_organization org LEFT JOIN mp_organization orgp ON org.parent_id = orgp.id
		<where>
			AND orgp.org_code = #{orgCode}
		</where>
	</select>

    <!-- 查询组织下所有人员 -->
    <select id="selectOrgStaffAll" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffOrgDTO">
        SELECT
            f.ID,
            f.STAFF_NAME,
            f.STAFF_CODE,
            o.ORG_NAME,
            p.POST_NAME,
            p.JOB_LEVEL_ID1,
            f.JOB_TYPE,
            f.MOBILE,
            f.EMAIL
        FROM
            mp_user u
        LEFT JOIN mp_userpost up ON u.ID = up.USER_ID
        LEFT JOIN mp_post p ON p.ID = up.POST_ID
        LEFT JOIN mp_organization o ON o.ID = u.ORG_DEPT_ID
        LEFT JOIN mp_staff f ON f.user_id = u.ID
        WHERE
            u.ORG_DEPT_ID IN (
                SELECT
                    o.ID
                FROM
                    mp_organization o
                WHERE
                    o.ORG_CODE LIKE CONCAT(#{orgCode},'%')
            )
    </select>

    <!-- 查询组织架构图根节点 -->
    <select id="selectOrgChartRoot" resultType="net.herdao.hdp.manpower.mpclient.dto.OrgChartDTO">
        SELECT
            o.ID,
            o.ORG_CODE,
            o.ORG_NAME,
            o.org_charge_name,
            o.org_charge_work_no,
            f.MOBILE
        FROM
            mp_organization o
        LEFT JOIN mp_staff f ON o.org_charge_work_no = f.STAFF_CODE
        WHERE
            o.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询组织架构图子节点 -->
    <select id="selectOrgChartChild" resultType="net.herdao.hdp.manpower.mpclient.dto.OrgChartDTO">
        SELECT
            o.ID,
            o.ORG_CODE,
            o.ORG_NAME,
            o.org_charge_name,
            o.org_charge_work_no,
            f.MOBILE,
            	CASE (
                        SELECT
                            count(1)
                        FROM
                            mp_organization o1
                        WHERE
                            o1.PARENT_ID = o.ID
                    )
                WHEN 0 THEN
                    FALSE
                ELSE
                    TRUE
                END
            as has_child
        FROM
            mp_organization o
        LEFT JOIN mp_staff f ON o.org_charge_work_no = f.STAFF_CODE
        WHERE
            o.PARENT_ID = #{id}
    </select>
    
    <!-- 获取组织编码 -->
    <select id="getMaxOrgCode" resultType="java.lang.String">
        SELECT 
        	CONCAT( MAX(org.org_code) )
        FROM mp_organization org
        <where>
	        <if test="parentId != null">
	        	AND org.parent_id = #{parentId}
	        </if>
        </where>
    </select>
    
    <!-- 查询子组织信息  -->
    <select id="selectOrganizationByOrgCode" resultMap="organizationMap">
    	SELECT
    		 org.* 
    	FROM mp_organization org 
		WHERE org.org_code LIKE CONCAT(#{orgCode},'%')
    </select>
</mapper>
