<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hedao.hdp.mpclient.oa.mapper.OrganizationMapper">
    <resultMap id="organizationMap" type="com.hedao.hdp.mpclient.oa.entity.Organization">
        <id property="orgOid" column="ORG_OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_OID"/>
        <result property="orgLevel" column="ORG_LEVEL"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="stopped" column="STOPPED"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="virtually" column="virtually"/>
        <result property="tenantId" column="TENANT_ID"/>
    </resultMap>

    <resultMap id="organizationChildrenMap" type="com.hedao.hdp.mpclient.oa.entity.Organization">
        <id property="orgOid" column="ORG_OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_OID"/>
        <result property="orgLevel" column="ORG_LEVEL"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="stopped" column="STOPPED"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="virtually" column="virtually"/>
        <result property="tenantId" column="TENANT_ID"/>
        <collection property="children" column="ORG_OID" ofType="com.hedao.hdp.mpclient.oa.entity.Organization" select="selectOrganizationListByParentOid"></collection>
    </resultMap>

    <resultMap id="organTreeMap" type="com.hedao.hdp.mpclient.oa.entity.Organization">
        <id property="orgOid" column="ORG_OID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgFullname" column="ORG_FULLNAME"/>
        <result property="orgCode" column="ORG_CODE"/>
        <result property="parentOid" column="PARENT_OID"/>
        <result property="orgLevel" column="ORG_LEVEL"/>
        <result property="organizational" column="ORGANIZATIONAL"/>
        <result property="pipelineCode" column="PIPELINE_CODE"/>
        <result property="welfareType" column="WELFARE_TYPE"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="stopped" column="STOPPED"/>
        <result property="creatorCode" column="CREATOR_CODE"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifierCode" column="MODIFIER_CODE"/>
        <result property="modifiedTime" column="MODIFIED_TIME"/>
        <result property="virtually" column="virtually"/>
        <result property="tenantId" column="TENANT_ID"/>
        <collection property="parent" column="PARENT_OID" ofType="com.hedao.hdp.mpclient.oa.entity.Organization" select="selectParentOrgan"></collection>
        <collection property="children" column="ORG_OID" ofType="com.hedao.hdp.mpclient.oa.entity.Organization" select="selectOrganizationListByParentOid"></collection>
    </resultMap>

    <!-- 点击查看组织架构详情 -->
    <select id="selectOrganByCurrentOrgOid" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM t_organization WHERE 1=1
        <if test="orgOid != null">
            AND ORG_OID = #{orgOid}
        </if>
        order by SORT_NO
    </select>

    <!-- 递归查询父组织架构 -->
    <select id="selectParentOrgan" resultMap="organTreeMap" parameterType="java.lang.String">
        SELECT * FROM t_organization WHERE 1=1
        <if test="parentId!=null">
            AND ORG_OID = #{parentOid}
        </if>
        order by SORT_NO
    </select>

      <!-- 先查询组织结构根级目录 -->
      <!-- 这里的返回结果必须为resultMap，并且值为上面构建的resultMap的id的值 -->
      <select id="findAllOrganizations" resultMap="organizationChildrenMap">
        SELECT
            *
        FROM
            t_organization
        WHERE
            PARENT_OID IS NULL
      </select>

      <!-- 根据parentId 查询组织结构表 -->
      <select id="selectOrganizationListByParentOid" resultMap="organizationChildrenMap" parameterType="java.lang.String">
            SELECT * FROM t_organization WHERE 1=1
            <if test="parentId!=null">
                  AND PARENT_OID=#{parentOid}
            </if>
            order by SORT_NO
       </select>

    <!-- 高级搜索组织架构 -->
    <select id="findOrganizationByCondition" resultMap="organizationMap" >
        SELECT * FROM t_organization WHERE 1=1

        <if test="orgOid != null">
            AND ORG_OID = #{orgOid}
        </if>

        <if test="orgLevel != null">
            AND ORG_LEVEL = #{orgLevel}
        </if>

        <if test="orgName != null">
            AND ORG_NAME = #{orgName}
        </if>

        <if test="orgCode != null">
            AND ORG_CODE = #{orgCode}
        </if>

        <if test="orgLevel != null">
            AND ORG_LEVEL = #{orgLevel}
        </if>

        <if test="createdTime != null">
            AND DATE_FORMAT(CREATED_TIME, '%Y-%m-%d') = #{createdTime}
        </if>

        <if test="virtually != null">
            AND virtually = #{virtually}
        </if>

        <if test="stopped != null">
            AND STOPPED = #{stopped}
        </if>

        order by SORT_NO
    </select>

    <!-- 关键字搜索组织架构 -->
    <select id="findOrganizationByKeyWords" resultMap="organizationMap" >
        SELECT
          *
        FROM
        t_organization
        WHERE
        1 = 1
        and (
            <if test="keyword != null">
                ORG_NAME like CONCAT('%', #{keyword}, '%')
            </if>

            <if test="keyword != null">
                or ORG_CODE = #{keyword}
            </if>

            <if test="keyword != null">
                or ORG_CODE = #{keyword}
            </if>
         )
        ORDER BY
        SORT_NO
    </select>
</mapper>
