<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OrgModifyRecordMapper">
  <resultMap id="orgModifyRecordMap" type="net.herdao.hdp.manpower.mpclient.entity.OrgModifyRecord">
      <id property="id" column="id"/>
      <result property="curOrgId" column="cur_org_id"/>
      <result property="curOrgName" column="cur_org_name"/>
      <result property="curOrgCode" column="cur_org_code"/>
      <result property="curOrgParentId" column="cur_org_parent_id"/>
      <result property="curOrgParentName" column="cur_org_parent_name"/>
      <result property="curOrgLevel" column="cur_org_level"/>
      <result property="oldOrgName" column="old_org_name"/>
      <result property="oldOrgParentId" column="old_org_parent_id"/>
      <result property="oldOrgParentName" column="old_org_parent_name"/>
      <result property="oldOrgLevel" column="old_org_level"/>
      <result property="effectTime" column="effect_time"/>
      <result property="operatorId" column="operator_id"/>
      <result property="operatorName" column="operator_name"/>
      <result property="operatorTime" column="operator_time"/>
      <result property="oldOrgCode" column="old_org_code"/>
      <result property="operateDesc" column="operate_desc"/>
  </resultMap>
</mapper>
