<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OrgReportMapper">
        <resultMap id="orgReportMap" type="net.herdao.hdp.manpower.mpclient.entity.OrgReport">
            <id property="orgName" column="ORG_NAME"/>
            <result property="orgCode" column="ORG_CODE"/>
            <result property="parentName" column="parent_name"/>
            <result property="parentCode" column="parent_code"/>
            <result property="orgLevel" column="org_level"/>
            <result property="orgType" column="org_type"/>
            <result property="orgDesc" column="org_desc"/>
            <result property="centerStatus" column="center_status"/>
            <result property="chargeUserName" column="charge_user_name"/>
            <result property="chargePostName" column="charge_post_name"/>
            <result property="virtualStatus" column="virtual_status"/>
            <result property="createdTime" column="CREATED_TIME"/>
        </resultMap>

        <resultMap id="jobLevelMap" type="net.herdao.hdp.manpower.mpclient.entity.JobLevelReport">
        </resultMap>

    <!-- 组织架构预览 -->
    <select id="findOrgReportView" resultMap="orgReportMap">
        SELECT  org.ORG_NAME,
                org.ORG_CODE,
                ( SELECT p.ORG_NAME FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_name,
                ( SELECT p.ORG_CODE FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_code,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_level ) org_level,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_type ) org_type,
                org.org_desc,
                CASE 	WHEN org.ORGANIZATIONAL = 0 THEN
                        '否'
                       when 	org.ORGANIZATIONAL = 1 THEN
                        '是'
                        END center_status ,
                (
                     SELECT u.USER_NAME FROM mp_user u WHERE u.ID=org.org_charge_work_no
                ) charge_user_name,
                (
                     SELECT p.POST_NAME FROM mp_post p WHERE p.ID=org.charge_org
                ) charge_post_name,
               CASE WHEN org.IS_VIRTUAL = 0 THEN
                    '否'
                   when org.IS_VIRTUAL = 1 THEN
                    '是'
                    END virtual_status ,
                    org.CREATED_TIME
                FROM
                    mp_organization org
                WHERE 1=1
                <if test="orgCode != null">
                     AND org.ORG_CODE LIKE concat(#{orgCode},'%')
                </if>
                ORDER BY org.ORG_CODE ASC
                LIMIT 0, 10
    </select>

    <!-- 组织架构导出 -->
    <select id="exportOrg" resultMap="orgReportMap">
        SELECT  org.ORG_NAME,
                org.ORG_CODE,
                ( SELECT p.ORG_NAME FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_name,
                ( SELECT p.ORG_CODE FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_code,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_level ) org_level,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_type ) org_type,
                org.org_desc
          FROM  mp_organization org
        WHERE 1=1
            <if test="orgCode != null">
                AND org.ORG_CODE LIKE concat(#{orgCode},'%')
            </if>
    </select>

    <!-- 组织架构明细导出 -->
    <select id="exportDetailsOrg" resultMap="orgReportMap">
        SELECT  org.ORG_NAME,
                org.ORG_CODE,
                ( SELECT p.ORG_NAME FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_name,
                ( SELECT p.ORG_CODE FROM mp_organization p WHERE p.id = org.PARENT_ID ) parent_code,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_level ) org_level,
                ( SELECT s.label FROM sys_dict_item s WHERE s.id = org.org_type ) org_type,
                org.org_desc,
                CASE 	WHEN org.ORGANIZATIONAL = 0 THEN
                '否'
                when 	org.ORGANIZATIONAL = 1 THEN
                '是'
                END center_status ,
                (
                SELECT u.USER_NAME FROM mp_user u WHERE u.ID=org.org_charge_work_no
                ) charge_user_name,
                (
                SELECT p.POST_NAME FROM mp_post p WHERE p.ID=org.charge_org
                ) charge_post_name,
                CASE WHEN org.IS_VIRTUAL = 0 THEN
                '否'
                when 	org.IS_VIRTUAL = 1 THEN
                '是'
                END virtual_status ,
                org.CREATED_TIME
                FROM
                mp_organization org
        WHERE 1=1
        <if test="orgCode != null">
            AND org.ORG_CODE LIKE concat(#{orgCode},'%')
        </if>
        ORDER BY org.ORG_CODE ASC
    </select>

    <!-- 组织职级统计导出 -->
    <select id="exportOrgJobLevel" resultType="net.herdao.hdp.manpower.mpclient.entity.JobLevelReport">
        SELECT  b.ORG_NAME orgName,
                b.ORG_CODE orgCode,
                GROUP_CONCAT( b.JOB_LEVEL_NAME ) jobLevelName,
                GROUP_CONCAT( b.JOB_LEVEL_CODE ) jobLevelCode,
                GROUP_CONCAT( b.job_level_num )  jobLevelNum
        FROM
        (
        SELECT
        t.ORG_NAME,
        t.ORG_CODE,
        t.JOB_LEVEL_NAME,
        t.job_level_code,
        count( t.JOB_LEVEL_CODE ) job_level_num
        FROM
        (
        SELECT 	a.ORG_NAME,
        a.ORG_CODE,
        lev.JOB_LEVEL_NAME,
        lev.JOB_LEVEL_CODE
        FROM mp_organization a
        LEFT JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID  AND u.MAIN_POST = 1
        LEFT JOIN mp_job_level lev ON lev.ID = u.JOB_LEVEL_ID
        WHERE 1=1
        <if test="orgCode != null">
            AND a.ORG_CODE LIKE concat(#{orgCode},'%')
        </if>
        ) t
        GROUP BY
        t.ORG_NAME,
        t.ORG_CODE,
        t.job_level_name,
        t.job_level_code
        ) b
        GROUP BY
        b.ORG_NAME,
        b.ORG_CODE
    </select>

    <!-- 组织职级统计 -->
    <select id="fetchOrgJobLevel" resultType="net.herdao.hdp.manpower.mpclient.entity.JobLevelReport">
        SELECT  b.ORG_NAME,
                b.ORG_CODE,
                GROUP_CONCAT( b.JOB_LEVEL_NAME ) JOB_LEVEL_NAME ,
                GROUP_CONCAT( b.JOB_LEVEL_CODE ) JOB_LEVEL_CODE ,
                GROUP_CONCAT( b.job_level_num ) job_level_num
        FROM
        (
                SELECT
                t.ORG_NAME,
                t.ORG_CODE,
                t.JOB_LEVEL_NAME,
                t.job_level_code,
                count( t.JOB_LEVEL_CODE ) job_level_num
            FROM
            (
                    SELECT 	a.ORG_NAME,
                    a.ORG_CODE,
                    lev.JOB_LEVEL_NAME,
                    lev.JOB_LEVEL_CODE
                    FROM mp_organization a
                    LEFT JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID  AND u.MAIN_POST = 1
                    LEFT JOIN mp_job_level lev ON lev.ID = u.JOB_LEVEL_ID
                    WHERE 1=1
                    <if test="orgCode != null">
                        AND a.ORG_CODE LIKE concat(#{orgCode},'%')
                    </if>
            ) t
             GROUP BY
                t.ORG_NAME,
                t.ORG_CODE,
                t.job_level_name,
                t.job_level_code
         ) b
        GROUP BY
        b.ORG_NAME,
        b.ORG_CODE
        LIMIT 0, 10
    </select>
</mapper>
