<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.OrgSituationMapper">

        <resultMap id="orgSituationMap" type="net.herdao.hdp.manpower.mpclient.entity.OrgSituation">
                    <id property="fullTimeJobCount" column="full_time_job_count"/>
                    <result property="onJobCount" column="on_job_count"/>
                    <result property="postCount" column="post_count"/>
                    <result property="trailCount" column="trail_count"/>
                    <result property="establishCount" column="establish_count"/>
                    <result property="fullTimeJobZb" column="full_time_job_zb"/>
                    <result property="traineeJobCount" column="trainee_job_count"/>
                    <result property="traineeJobZb" column="trainee_job_zb"/>
                    <result property="partTimeJobCount" column="part_time_job_count"/>
                    <result property="partTimeJobZb" column="part_time_job_zb"/>
                    <result property="laborJobCount" column="labor_job_count"/>
                    <result property="laborJobZb" column="labor_job_zb"/>
                    <result property="outerJobCount" column="outer_job_count"/>
                    <result property="outerJobZb" column="outer_job_zb"/>
                    <result property="retireJobCount" column="retire_job_count"/>
                    <result property="retireJobZb" column="retire_job_zb"/>
                    <result property="lessThan20" column="less_than_20"/>
                    <result property="lessThan20Zb" column="less_than_20_zb"/>
                    <result property="in2030" column="in_20_30"/>
                    <result property="in2030Zb" column="in_20_30_zb"/>
                    <result property="in3040" column="in_30_40"/>
                    <result property="in3040Zb" column="in_30_40_zb"/>
                    <result property="largeThan40" column="large_than_40"/>
                    <result property="largeThan40Zb" column="large_than_40_zb"/>
        </resultMap>


      <!-- 获取组织概况 -->
      <select id="fetchOrgSituation" resultMap="orgSituationMap">
          SELECT  sum(
                    case when t.JOB_TYPE=1 THEN 1 ELSE 0 END
                  ) full_time_job_count,
                  sum(
                     CASE WHEN t.JOB_TYPE = 1 AND t.STAFF_SCOPE = 1 THEN 1 ELSE 0 END
                  ) on_job_count,
                  count(
                    DISTINCT ( t.post_id )
                  ) post_count,
                  0 trail_count,
                  0 establish_count
          from 	(
                  SELECT
                      s.JOB_TYPE,
                      s.STAFF_SCOPE,
                      u.post_id,
                      0 trail_count,
                      0 establish_count
                  FROM mp_organization a
                  INNER JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID  AND u.MAIN_POST = 1
                  INNER JOIN mp_staff s ON u.USER_ID = s.USER_ID
                  WHERE 1 =1
                  <if test="orgCode != null">
                      AND  a.ORG_CODE LIKE concat(#{orgCode},'%')
                  </if>
         ) t
    </select>

    <!-- 员工任职类型分布 -->
    <select id="fetchOrgSituationByJobType" resultMap="orgSituationMap">
        SELECT  t.full_time_job_count,
                ROUND(t.full_time_job_count/t.job_type_total,2)*100  full_time_job_zb,
                t.trainee_job_count,
                ROUND(t.trainee_job_count/t.job_type_total,2)*100  trainee_job_zb,
                t.part_time_job_count,
                ROUND(t.part_time_job_count/t.job_type_total,2)*100  part_time_job_zb,
                t.labor_job_count,
                ROUND(t.labor_job_count/t.job_type_total,2)*100 labor_job_zb,
                t.outer_job_count,
                ROUND(t.outer_job_count/t.job_type_total,2)*100  outer_job_zb,
                t.retire_job_count,
                ROUND(t.retire_job_count/t.job_type_total,2)*100  retire_job_zb
        from (
                SELECT  sum( t.full_time_job_count ) full_time_job_count,
                        sum( t.trainee_job_count ) trainee_job_count,
                        sum( t.part_time_job_count ) part_time_job_count,
                        sum( t.labor_job_count ) labor_job_count,
                        sum( t.outer_job_count ) outer_job_count,
                        sum( t.retire_job_count ) retire_job_count,
                        sum( t.full_time_job_count + t.trainee_job_count + t.part_time_job_count
                        + t.labor_job_count + t.outer_job_count + t.retire_job_count ) job_type_total
                FROM
                (
                        SELECT  sum( CASE WHEN t.JOB_TYPE = 1 THEN 1 ELSE 0 END ) full_time_job_count,
                                sum( CASE WHEN t.JOB_TYPE = 5 THEN 1 ELSE 0 END ) trainee_job_count,
                                sum( CASE WHEN t.JOB_TYPE = 2 THEN 1 ELSE 0 END ) part_time_job_count,
                                sum( CASE WHEN t.JOB_TYPE = 6 THEN 1 ELSE 0 END ) labor_job_count,
                                sum( CASE WHEN t.JOB_TYPE = 7 THEN 1 ELSE 0 END ) outer_job_count,
                                sum( CASE WHEN t.JOB_TYPE = 8 THEN 1 ELSE 0 END ) retire_job_count
                        FROM
                        (
                             SELECT DISTINCT s.JOB_TYPE
                                FROM  mp_organization a
                                        INNER JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID
                                        AND u.MAIN_POST = 1
                                        INNER JOIN mp_staff s ON u.USER_ID = s.USER_ID
                                WHERE 1 = 1
                                <if test="orgCode != null">
                                    AND  a.ORG_CODE LIKE concat(#{orgCode},'%')
                                </if>
                                GROUP BY s.JOB_TYPE
                        ) t
                ) t
         )t
    </select>

    <!-- 在职员工年龄分布 -->
    <select id="fetchOrgSituationByAge" resultMap="orgSituationMap">
       SELECT   t.less_than_20,
                ROUND(t.less_than_20/t.total,2)*100 less_than_20_zb,
                t.in_20_30,
                ROUND(t.in_20_30/t.total,2)*100 in_20_30_zb,
                t.in_30_40,
                ROUND(t.in_30_40/t.total,2)*100 in_30_40_zb,
                t.large_than_40,
                ROUND(t.large_than_40/t.total,2)*100 large_than_40_zb
        from (
             SELECT SUM(case when t.age &lt; 20 then 1 else 0 end ) less_than_20,
                    SUM(case when t.age >=20 and t.age &lt;= 30 then 1 else 0 end ) in_20_30,
                    SUM(case when t.age >=30 and t.age &lt;= 40 then 1 else 0 end ) in_30_40,
                    SUM(case when t.age >=40  then 1 else 0 end ) large_than_40,
                    COUNT(t.staff_id) total
            FROM
            (
                  SELECT  s.id staff_id,
                          DATE_FORMAT(FROM_DAYS(TO_DAYS(NOW())-TO_DAYS(s.BIRTHDAY)), '%Y')+0 AS age
                    FROM  mp_organization a
                    INNER JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID AND u.MAIN_POST = 1
                    INNER JOIN mp_staff s ON u.USER_ID = s.USER_ID
                    WHERE 1=1
                        <if test="orgCode != null">
                            AND  a.ORG_CODE LIKE concat(#{orgCode},'%')
                        </if>
            ) t
         )t
    </select>

    <!-- 岗位人数分布 -->
    <select id="fetchOrgSituationByPostCode" resultMap="orgSituationMap">
         SELECT  t.POST_NAME,
				 t.post_count,
	             ROUND(t.post_count/t.post_total,2)*100 post_zb
 		from
          (
                SELECT
                    s.POST_NAME,
                    COUNT(s.id) post_count,
                  (
                        SELECT
                            sum( CASE WHEN s.id IS NOT NULL THEN 1 ELSE 0 END )
                        FROM
                            mp_organization a
                            INNER JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID
                            AND u.MAIN_POST = 1
                            INNER JOIN mp_post s ON s.id = u.POST_ID
                        WHERE 1=1
                            <if test="orgCode != null">
                                AND  a.ORG_CODE LIKE concat(#{orgCode},'%')
                            </if>
                     ) post_total
                FROM
                    mp_organization a
                    INNER JOIN mp_userpost u ON u.ORG_DEPT_ID = a.ID
                    AND u.MAIN_POST = 1
                    INNER JOIN mp_post s ON s.id = u.POST_ID
                WHERE 1=1
                    <if test="orgCode != null">
                        AND  a.ORG_CODE LIKE concat(#{orgCode},'%')
                    </if>
                    GROUP BY s.POST_CODE,POST_NAME
            ) t
    </select>
</mapper>
