<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.PipelineMapper">

    <resultMap id="pipelineDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.pipeline.PipelineDTO">
        <result property="stop" column="IS_STOP"/>
        <result property="groupId" column="GROUP_ID"/>
        <association property="group" column="group_id" javaType="group"
                     select="net.herdao.hdp.manpower.mpclient.mapper.GroupMapper.selectIgnoreDel" />
    </resultMap>

    <select id="page" resultMap="pipelineDTOMap" parameterType="pipeline">
        select * from mp_pipeline where  del_flag !=1
        <if test="t.id != null">
            and id = #{t.id}
        </if>
        <if test="t.groupId != null">
            and group_id = #{t.groupId}
        </if>
        <if test="t.pipelineName != null">
            <bind name="likeTxt" value="'%'+t.pipelineName+'%'"/>
          and( pipeline_code like #{likeTxt} or pipeline_name like #{likeTxt})
        </if>
    </select>

    <select id="pipelineList"  resultType="map">
       	select id,pipeline_code AS code,pipeline_name AS name from mp_pipeline
       	where group_id = #{groupId} and del_flag != 1 and is_stop != 1
    </select>

    <select id="chkDuplicatePipelineCode" parameterType="pipeline" resultType="boolean">
         SELECT count(*) from mp_Pipeline where  (#{id} is null or  id != #{id})  and  pipeline_code = #{pipelineCode}
    </select>

    <select id="chkDuplicatePipelineName" parameterType="pipeline" resultType="boolean">
      SELECT count(*) from mp_Pipeline where   (#{id} is null or  id != #{id})    and pipeline_name = #{pipelineName}
    </select>

    <select id="getPipelineCodesByGroupId" parameterType="long" resultType="String">
      SELECT pipeline_code from mp_Pipeline where group_id = #{groupId}
    </select>

</mapper>
