<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.PostSeqMapper" >

    <select id="postSeqList" resultType="map">
       	select id,POST_SEQ_CODE AS code,POST_SEQ_NAME AS name,
       	group_id as groupId ,parent_id as parentId from mp_post_seq
       	where group_id = #{groupId} and del_flag != 1 and is_stop != 1
    </select>

    <resultMap id="postSeqDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.PostSeqDTO">
        <id column="id" property="id"/>
        <result property="stop" column="IS_STOP"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="parent_seq_id" column="parentSeqId"/>
        <result property="parent_seq_name" column="parentSeqName"/>
        <association property="postCount" column="id" select="getPostCount" javaType="int"/>
        <association property="isLeaf" column="id" select="chkIsLeaf" javaType="boolean"/>
        <association property="groupName" column="group_id" javaType="string"
                     select="net.herdao.hdp.manpower.mpclient.mapper.GroupMapper.selectEntityName"/>
    </resultMap>

    <select id="page" resultMap="postSeqDTOMap" parameterType="postSeq">
        select
        ps.*,
        pps.id parent_seq_id,
        pps.POST_SEQ_NAME parent_seq_name
         from mp_post_seq ps
        left join mp_post_seq pps on ps.PARENT_ID=pps.id
        where  ps.del_flag !=1
        and exists (select * from mp_group g where g.id = ps.GROUP_ID and g.DEL_FLAG !=1)
        <if test="t.groupId != null">
            and ps.group_id = #{t.groupId}
        </if>
        <if test=" t.parentId == null">
            and ps.parent_id is null
        </if>
        <if test=" t.parentId != null">
            and ps.parent_id = #{t.parentId}
        </if>
        <if test="t.stop != null">
            and ps.is_stop = #{t.stop}
        </if>
        <if test="t.postSeqName != null">
            <bind name="likeTxt" value="'%'+t.postSeqName+'%'"/>
            and(ps.post_seq_code like #{likeTxt} or ps.post_seq_name like #{likeTxt})
        </if>
    </select>

    <select id="form" resultMap="postSeqDTO" >
        select * from mp_post_seq where id = #{id}
    </select>

    <select id="getPostCount" parameterType="long" resultType="int">
         SELECT count(*) from mp_post   where post_seq_id = #{id}
    </select>

    <select id="chkIsLeaf" parameterType="long" resultType="boolean">
         select  (case when  exists (select * from  mp_post_seq
         where parent_id = #{id} ) then 0 else 1 end) as isLeaf
    </select>

    <!--  父子查询 -->
    <resultMap id="postSeqDTO" type="net.herdao.hdp.manpower.mpclient.dto.post.PostSeqDTO">
        <result property="parentId" column="parent_id"/>
        <association property="parent" column="parent_id" select="getPostSeqParent"
                     javaType="net.herdao.hdp.manpower.mpclient.dto.post.PostSeqDTO"/>
    </resultMap>

    <select id="getPostSeqParent" parameterType="long" resultMap="postSeqDTO">
        select * from  mp_post_seq WHERE id=#{id}
    </select>

    <select id="getPostSeqDTO" parameterType="long" resultMap="postSeqDTO">
       select * from mp_post_seq WHERE id= #{id}
    </select>

    <select id="selectEntityName" parameterType="long" resultMap="postSeqDTO">
        with T as (SELECT post_seq_name as entity_code FROM MP_post_seq WHERE ID=#{id} AND del_flag!=1)
        select case  when exists (select * from T ) then (select * from T) else '未分类' end as entity_code
    </select>


</mapper>
