<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.PostSeqMapper">

    <select id="postSeqList"  resultType="map">
       	select id,POST_SEQ_CODE AS code,POST_SEQ_NAME AS name,
       	 group_id as groupId ,parent_id as parentId from mp_post_seq where group_id = #{groupId}
    </select>

    <select id="query" resultType="postSeq" parameterType="String">
        <bind name="likeTxt" value="'%'+searchTxt+'%'"/>
        select * from mp_post_seq where post_seq_code like #{likeTxt} or post_seq_name like #{likeTxt}
    </select>

    <select id="chkDuplicatePostSeqCode" parameterType="postSeq" resultType="boolean">
         SELECT count(*) from mp_post_seq  where (#{id} is null or id != #{id}) and post_seq_code = #{postSeqCode}
    </select>

    <select id="chkDuplicatePostSeqName" parameterType="postSeq" resultType="boolean" >
        SELECT count(*) from mp_post_seq  where  (#{id} is null or id != #{id}) and post_seq_name = #{postSeqName}
    </select>

</mapper>
