<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.PostSeqMapper">

    <select id="postSeqList" resultType="map">
       	select id,POST_SEQ_CODE AS code,POST_SEQ_NAME AS name,
       	 group_id as groupId ,parent_id as parentId from mp_post_seq where group_id = #{groupId}
    </select>

    <resultMap id="postSeqDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.PostSeqDTO">
        <id column="id" property="id"/>
        <association property="postCount" column="id" select="getPostCount" javaType="int"/>
        <association property="isLeaf" column="id" select="chkIsLeaf" javaType="boolean"/>
    </resultMap>

    <select id="page" resultMap="postSeqDTOMap" parameterType="postSeq">
        select * from mp_post_seq where 1=1
        <if test="postSeq.id != null">
            and id = #{postSeq.id}
        </if>
        <if test="postSeq.parentId != null">
            and parent_id = #{postSeq.parentId}
        </if>
        <if test="postSeq.groupId != null">
            and group_id = #{postSeq.groupId}
        </if>
        <if test="postSeq.postSeqName != null">
            <bind name="likeTxt" value="'%'+postSeq.postSeqName+'%'"/>
            post_seq_code like #{likeTxt} or post_seq_name like #{likeTxt}
        </if>
    </select>

    <select id="getPostCount" parameterType="long" resultType="int">
         SELECT count(*) from mp_post   where post_seq_id = #{id}
    </select>

    <select id="chkIsLeaf" parameterType="long" resultType="boolean">
         select  (case when  exists (select * from  mp_post_seq
         where parent_id = #{id} ) then 0 else 1 end) as isLeaf
    </select>

    <select id="chkDuplicatePostSeqCode" parameterType="postSeq" resultType="boolean">
         SELECT count(*) from mp_post_seq  where (#{id} is null or id != #{id}) and post_seq_code = #{postSeqCode}
    </select>

    <select id="chkDuplicatePostSeqName" parameterType="postSeq" resultType="boolean">
        SELECT count(*) from mp_post_seq  where  (#{id} is null or id != #{id}) and post_seq_name = #{postSeqName}
    </select>

</mapper>
