<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.hedao.hdp.mpclient.mapper.PostMapper">

    <select id="postList" parameterType="post" resultType="map">
       	select id,POST_CODE AS postCode,POST_NAME AS postName from mp_post
    </select>

    <select id="chkDuplicatePostCode" parameterType="post" resultType="boolean">
         SELECT count(*) from mp_post  where  (#{id} is null or  id != #{id})  and  post_code = #{postCode}
    </select>

    <select id="chkDuplicatePostName" parameterType="post" resultType="boolean" >
        SELECT count(*) from mp_post  where  (#{id} is null or  id != #{id})   and  post_name = #{postName}
    </select>
</mapper>
