<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.PostMapper">

    <!--*************************以下为分页查询用到的函数***********************************-->

    <resultMap id="postDTOMap" type="net.herdao.hdp.manpower.mpclient.dto.post.PostDTO">
        <id column="id" property="id"/>
        <result property="stop" column="IS_STOP"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="sectionId" column="section_id"/>
        <result property="pipelineId" column="pipeline_id"/>
        <result property="jobLevelId1" column="job_Level_id1"/>
        <result property="postSeqId" column="post_seq_id"/>

        <association property="group" column="group_id" select="getGroup" javaType="group"/>
        <association property="section" column="section_id" select="getSection" javaType="section"/>
        <association property="pipeline" column="pipeline_id" select="getPipeline" javaType="pipeline"/>
        <association property="jobGrade" column="job_level_id1" select="getJobGrade" javaType="jobGrade"/>
        <association property="jobLevel1" column="job_level_id1" select="getJobLevel" javaType="jobLevel"/>
        <association property="jobLevel2" column="job_level_id2" select="getJobLevel" javaType="jobLevel"/>
        <association property="postSeq" column="post_seq_id" select="getPostSeq" javaType="postSeq"/>
        <association property="postAuthorized" column="id" select="getPostAuthorized" javaType="int"/>
        <association property="onJobStaffs" column="id" select="getOnJobStaffs" javaType="int"/>
        <association property="operationLog" column="id" select="getOperationLog" javaType="net.herdao.hdp.manpower.sys.entity.OperationLog"/>
    </resultMap>

    <!--    <resultMap id="postSeqMap" type="postSeq">-->
    <!--        <association property="parent" column="parent_id"  select="getPostSeq" javaType="postSeq"/>-->
    <!--    </resultMap>-->

    <select id="page" resultMap="postDTOMap" parameterType="post">
        select * from mp_post where 1=1
        <!--
        <if test="postName != null">
            <bind name="likeTxt" value="'%'+postName+'%'"/>
          and   concat(POST_CODE,POST_NAME) like #{likeTxt}
        </if>

        <if test="groupId != null">
            AND group_id = #{groupId}
        </if>
        <if test="sectionId != null">
            AND section_id = #{sectionId}
        </if>
        <if test="pipelineId != null">
            AND pipeline_id = #{pipelineId}
        </if>
        <if test="jobLevelId1 != null">
            AND (job_level_id1 = #{jobLevelId1} or job_level_id2 = #{jobLevelId1})
        </if>
        -->
    </select>

    <select id="getGroup" parameterType="long" resultType="group">
   select * from  mp_group WHERE id=#{id}
</select>

    <select id="getPipeline" parameterType="long" resultType="pipeline">
   select * from  mp_pipeline WHERE id=#{id}
</select>

    <select id="getSection" parameterType="long" resultType="section">
   select * from  mp_section WHERE id=#{id}
</select>

    <select id="getJobGrade" parameterType="long" resultType="jobGrade">
   select * from mp_job_grade g where g.id =(select job_grade_id from mp_job_level l WHERE l.id=#{id})
</select>

    <select id="getJobLevel" parameterType="long" resultType="jobLevel">
   select * from  mp_job_level WHERE id=#{id}
</select>

    <!--     TODO 实现父子查询 -->
    <select id="getPostSeq" parameterType="long" resultType="postSeq">
        select * from  mp_post_seq WHERE id=#{id}
    </select>


    <!--     TODO 未实现编制统计 -->
    <select id="getPostAuthorized" parameterType="long" resultType="int">
        select 10
    </select>

    <select id="getOnJobStaffs" parameterType="long" resultType="int">
        select count(*) from mp_post p, mp_userpost up , mp_staff s
        where p.id = up.POST_ID and s.user_id = up.USER_ID and up.USER_ID = s.user_id
        and s.STAFF_SCOPE = '1' and p.id =#{id}
    </select>

    <select id="getOperationLog" parameterType="long" resultType="net.herdao.hdp.manpower.sys.entity.OperationLog">
        <bind name="entityName" value="'net.herdao.hdp.manpower.mpclient.entity.Post'"/>
        select * from sys_operation_log where OBJ_ID = #{id}
        and ENTITY_CLASS = #{entityName} order by operated_time desc limit 1
    </select>


    <!--*************************以上为分页查询用到的函数***********************************-->

    <select id="postList" resultType="map">
       	select id,POST_CODE AS postCode,POST_NAME AS postName from mp_post where group_id = #{groupId}
    </select>

    <select id="chkDuplicatePostCode" parameterType="post" resultType="boolean">
         SELECT count(*) from mp_post  where  (#{id} is null or  id != #{id})  and  post_code = #{postCode}
    </select>

    <select id="chkDuplicatePostName" parameterType="post" resultType="boolean">
        SELECT count(*) from mp_post  where  (#{id} is null or  id != #{id})   and  post_name = #{postName}
    </select>

    <select id="getPostStaffCount" parameterType="string" resultType="int">
        select count(*) from mp_post p, mp_userpost up , mp_staff s
        where p.id = up.POST_ID and s.user_id = up.USER_ID and up.USER_ID = s.user_id
        ${condition}
    </select>

    <select id="getPostStaffAges" parameterType="long" resultType="map">
       with ages as  (
            select TIMESTAMPDIFF(YEAR ,BIRTHDAY, now()) AS years,p.tenant_id from mp_post p, mp_userpost up , mp_staff s
            where p.id = up.POST_ID and s.user_id = up.USER_ID and up.USER_ID = s.user_id
            and s.STAFF_SCOPE = '1' and p.id =  #{postId}
        )
        select
        sum( case when years &lt; 20 then 1 else 0 end) as age1 ,
        sum( case when years &lt; 30 and years &gt;= 20 then 1 else 0 end) as age2,
        sum( case when years &lt; 40 and years &gt;= 30 then 1 else 0 end) as age3,
        sum( case when years &lt; 50 and years &gt;= 40 then 1 else 0 end) as age4,
        sum( case when years &lt; 65 and years &gt;= 50 then 1 else 0 end) as age5,
        sum( case when years &gt; 65 then 1 else 0 end) as age6
        from  ages
    </select>


    <!-- 岗位名称、岗位编码、集团、板块、管线、职级、 创建时间  -->
    <select id="getPostDetails" resultType="net.herdao.hdp.manpower.mpclient.dto.post.PostDetailDTO">
        SELECT
            p.POST_NAME,
            p.POST_CODE,
            COALESCE(g1.GROUP_NAME, g2.GROUP_NAME ) GROUP_NAME,
            CONCAT(j1.JOB_LEVEL_NAME,'~',j2.JOB_LEVEL_NAME) JOB_LEVEL_NAME,
            s.SECTION_NAME,
            pp.PIPELINE_NAME,
            p.CREATED_TIME
        FROM
            mp_post p
            LEFT JOIN mp_section s ON p.SECTION_ID = s.ID
            LEFT JOIN mp_pipeline pp ON p.PIPELINE_ID = pp.ID
            left join mp_job_level j1 on p.JOB_LEVEL_ID1 = j1.ID
            left join mp_job_level j2 on p.JOB_LEVEL_ID2 = j2.ID
            LEFT JOIN mp_job_grade jg ON j1.JOB_grade_ID = jg.ID
            LEFT JOIN mp_group g1 ON p.GROUP_ID = g1.id
            LEFT JOIN mp_group g2 ON pp.GROUP_ID = g2.id
         where p.id = #{postId}  order by p.id  ${limit}
    </select>

    <!-- 任职岗位、员工姓名、工号、手机号码、所在部门 -->
    <select id="getPostStaffs" resultType="net.herdao.hdp.manpower.mpclient.dto.post.PostStaffDTO">
        select
        p.POST_NAME,
        s.STAFF_NAME,
        s.STAFF_CODE,
        s.MOBILE,
        o.ORG_NAME
        from  mp_post p
        inner join mp_userpost up on p.id= up.POST_ID
        inner join mp_staff  s on s.user_id = up.USER_ID
        inner join mp_organization o on up.ORG_DEPT_ID = o.id
        where p.id = #{postId}  order by p.id  ${limit}
    </select>

</mapper>
