<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.RecruitmentTitleMapper">

             <resultMap id="recruitmentTitleMap" type="net.herdao.hdp.manpower.mpclient.entity.RecruitmentTitle">
                  <id property="id" column="id"/>
                  <result property="recruitmentId" column="recruitment_id"/>
                  <result property="field1" column="FIELD1"/>
                  <result property="field2" column="FIELD2"/>
                  <result property="field3" column="FIELD3"/>
                  <result property="field4" column="FIELD4"/>
                  <result property="field5" column="FIELD5"/>
                  <result property="tenantId" column="TENANT_ID"/>
                  <result property="delFlag" column="DEL_FLAG"/>
                  <result property="title" column="title"/>
                  <result property="qualification" column="qualification"/>
                  <result property="awardsUnite" column="awards_unite"/>
                  <result property="certificateNo" column="certificate_no"/>
                  <result property="certificateTime" column="certificate_time"/>
                  <result property="qualificationUnit" column="qualification_unit"/>
                  <result property="creatorCode" column="creator_code"/>
                  <result property="creatorName" column="creator_name"/>
                  <result property="creatorTime" column="creator_time"/>
                  <result property="modifierCode" column="modifier_code"/>
                  <result property="modifierName" column="modifier_name"/>
                  <result property="modifierTime" column="modifier_time"/>
            </resultMap>

      <!-- 简历详情-职称及职业资格 -->
      <select id="findRecruitmentTitleList" resultType="net.herdao.hdp.manpower.mpclient.dto.recruitment.RecruitmentTitleDTO">
              SELECT  t.title,
                      t.qualification,
                      t.awards_unite,
                      t.certificate_no,
                      t.certificate_time,
                      t.qualification_unit
              FROM  mp_recruitment_title t
                <where>
                      t.DEL_FLAG =0
                      <if test="recruitmentId != null and recruitmentId != '' ">
                            AND t.recruitment_id = #{recruitmentId}
                      </if>
                </where>
      </select>
</mapper>
