<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hedao.hdp.mpclient.oa.mapper.SectionMapper">

    <select id="sectionList" parameterType="post" resultType="map">
       	select id,section_code AS sectionCode,section_name AS sectionName from mp_section
    </select>

    <select id="chkDuplicateSectionCode" parameterType="section" resultType="boolean" >
         SELECT count(*) from mp_section  where  (#{id} is null or  id != #{id})  and  section_code = #{sectionCode}
    </select>

    <select id="chkDuplicateSectionName" parameterType="section" resultType="boolean">
        SELECT count(*) from mp_section  where  (#{id} is null or  id != #{id})  and  section_name = #{sectionName}
    </select>
</mapper>
