<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StafftransactionMapper">

      <resultMap id="stafftransactionMap" type="net.herdao.hdp.manpower.mpclient.entity.Stafftransaction">
            <id property="id" column="id"/>
            <result property="oid" column="OID"/>
            <result property="tranTime" column="TRAN_TIME"/>
            <result property="tranType" column="TRAN_TYPE"/>
            <result property="tranReason" column="TRAN_REASON"/>
            <result property="outUnitOid" column="OUT_UNIT_OID"/>
            <result property="comeUnitOid" column="COME_UNIT_OID"/>
            <result property="outUnitId" column="OUT_UNIT_ID"/>
            <result property="comeUnitId" column="COME_UNIT_ID"/>
            <result property="outUnitName" column="OUT_UNIT_NAME"/>
            <result property="comeUnitName" column="COME_UNIT_NAME"/>
            <result property="outGroupName" column="OUT_GROUP_NAME"/>
            <result property="comeGroupName" column="COME_GROUP_NAME"/>
            <result property="outCenterName" column="OUT_CENTER_NAME"/>
            <result property="comeCenterName" column="COME_CENTER_NAME"/>
            <result property="newest" column="NEWEST"/>
            <result property="creatorCode" column="creator_code"/>
            <result property="createdTime" column="CREATED_TIME"/>
            <result property="modifiedCode" column="modified_code"/>
            <result property="modifiedTime" column="MODIFIED_TIME"/>
            <result property="orgDeptOid" column="ORG_DEPT_OID"/>
            <result property="postOid" column="POST_OID"/>
            <result property="staffOid" column="STAFF_OID"/>
            <result property="postId" column="POST_ID"/>
            <result property="staffId" column="STAFF_ID"/>
            <result property="tenantId" column="TENANT_ID"/>
            <result property="field1" column="FIELD1"/>
            <result property="field2" column="FIELD2"/>
            <result property="field3" column="FIELD3"/>
            <result property="field4" column="FIELD4"/>
            <result property="field5" column="FIELD5"/>
            <result property="delFlag" column="DEL_FLAG"/>
            <result property="createName" column="create_name"/>
      </resultMap>

      <!-- 员工异动情况分页-->
      <select id="findStaffTransPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StafftransDTO">
            select * from (
                  SELECT f.id,
                        s.staff_name,
                        s.staff_code,
                        f.TRAN_TIME,
                        f.TRAN_TYPE,
                        f.TRAN_REASON,
                        f.OUT_UNIT_NAME,
                        f.COME_UNIT_NAME,
                        ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.MODIFIED_CODE) MODIFIEd_NAME,
                        f.MODIFIED_TIME,
                        f.STAFF_ID
                        FROM   mp_stafftransaction f
                        LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
                        LEFT JOIN mp_userpost u on u.USER_ID =s.USER_ID AND u.MAIN_POST = 1
                        where 1=1
                        and f.DEL_FLAG=0
            )t where 1=1
            <if test="staffId != null">
                  t.staffId=#{staffId}
            </if>
            <if test="searchText != null">
                  and CONCAT(
                        IFNULL(t.staff_name,'') , IFNULL(t.staff_code,''),IFNULL(t.TRAN_TIME,'') ,
                        IFNULL(t.TRAN_TYPE,'') ,IFNULL(t.TRAN_REASON,'') , IFNULL(t.OUT_UNIT_NAME,'') ,
                        IFNULL(t.COME_UNIT_NAME,''),IFNULL(t.MODIFIEd_NAME,''), IFNULL(t.MODIFIED_TIME,'')
                  ) LIKE concat('%',#{searchText},'%')
            </if>
       </select>

      <!-- 员工异动情况-->
      <select id="findStaffTrans" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StafftransDTO">
            select * from (
            SELECT f.id,
            s.staff_name,
            s.staff_code,
            f.TRAN_TIME,
            f.TRAN_TYPE,
            f.TRAN_REASON,
            f.OUT_UNIT_NAME,
            f.COME_UNIT_NAME,
            ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.MODIFIED_CODE) MODIFIEd_NAME,
            f.MODIFIED_TIME,
            f.STAFF_ID
            FROM   mp_stafftransaction f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN mp_userpost u on u.USER_ID =s.USER_ID AND u.MAIN_POST = 1
            where 1=1
            and f.DEL_FLAG=0
            )t where 1=1
            <if test="staffId != null">
                  t.staffId=#{staffId}
            </if>
            <if test="searchText != null">
                  and CONCAT(
                        IFNULL(t.staff_name,'') , IFNULL(t.staff_code,''),IFNULL(t.TRAN_TIME,'') ,
                        IFNULL(t.TRAN_TYPE,'') ,IFNULL(t.TRAN_REASON,'') , IFNULL(t.OUT_UNIT_NAME,'') ,
                        IFNULL(t.COME_UNIT_NAME,''),IFNULL(t.MODIFIEd_NAME,''), IFNULL(t.MODIFIED_TIME,'')
                  ) LIKE concat('%',#{searchText},'%')
            </if>
      </select>

      <!-- 员工详情-员工异动情况DTO lift-->
      <select id="findStafftransactionDto" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StafftransactionDTO">
      SELECT 
			f.id,
            f.TRAN_TIME,
			dic.label TRAN_TYPE,
            f.TRAN_REASON,
            f.OUT_UNIT_NAME,
            f.COME_UNIT_NAME,
            CONCAT(f.MODIFIED_NAME,'(',f.MODIFIED_CODE,')') MODIFIED_NAME,
            f.MODIFIED_TIME,
						f.FIELD1,
						f.FIELD2,
						f.FIELD3,
						f.FIELD4,
						f.FIELD5
            FROM   mp_stafftransaction f
						left join sys_dict_item dic on f.TRAN_TYPE=dic.value and dic.type='YDLX'
            where 1=1 and f.DEL_FLAG=0
            <if test="staffid != null">
            and f.STAFF_ID = #{staffid}
            </if>
      </select>

</mapper>
