<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffcontractMapper">
         <resultMap id="staffcontractMap" type="net.herdao.hdp.manpower.mpclient.entity.Staffcontract">
              <id property="id" column="id"/>
              <result property="oid" column="OID"/>
              <result property="startDate" column="START_DATE"/>
              <result property="endDate" column="END_DATE"/>
              <result property="companyCode" column="COMPANY_CODE"/>
              <result property="contractOid" column="CONTRACT_OID"/>
              <result property="contractId" column="CONTRACT_ID"/>
              <result property="probationMonth" column="PROBATION_MONTH"/>
              <result property="newest" column="NEWEST"/>
              <result property="contractType" column="CONTRACT_TYPE"/>
              <result property="contractPeiod" column="CONTRACT_PEIOD"/>
              <result property="liquidatedDamages" column="LIQUIDATED_DAMAGES"/>
              <result property="economicCompensation" column="ECONOMIC_COMPENSATION"/>
              <result property="removeContract" column="REMOVE_CONTRACT"/>
              <result property="removeOid" column="REMOVE_OID"/>
              <result property="satffOid" column="SATFF_OID"/>
              <result property="removeId" column="REMOVE_ID"/>
              <result property="satffId" column="SATFF_ID"/>
              <result property="creatorCode" column="CREATOR_CODE"/>
              <result property="createdTime" column="CREATED_TIME"/>
              <result property="modifierCode" column="MODIFIER_CODE"/>
              <result property="modifiedTime" column="MODIFIED_TIME"/>
              <result property="tenantId" column="TENANT_ID"/>
              <result property="field1" column="FIELD1"/>
              <result property="field2" column="FIELD2"/>
              <result property="field3" column="FIELD3"/>
              <result property="field4" column="FIELD4"/>
              <result property="field5" column="FIELD5"/>
              <result property="delFlag" column="DEL_FLAG"/>
        </resultMap>

     <!-- 员工合同签订分页 -->
     <select id="findStaffContractPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffcontractDTO">
            select * from (
                 SELECT      s.id,
                             s.staff_name,
                             s.staff_code,
                             f.START_DATE,
                             f.END_DATE,
                             (
                             select c.COMPANY_NAME from mp_company c where c.id=f.COMPANY_CODE
                             ) company,
                             f.CONTRACT_ID	,
                             case when f.NEWEST = 0 then '否'
                             when  f.NEWEST = 1 then '是'
                             end enableStatus,
                             ( SELECT s.label FROM sys_dict_item s WHERE s.id = f.CONTRACT_TYPE and s.type='HTQXLX' ) CONTRACT_TYPE,
                             f.CONTRACT_PEIOD,
                             f.PROBATION_MONTH,
                             ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.MODIFIER_CODE ) modifier_name,
                             f.MODIFIED_TIME,
                             ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.CREATOR_CODE ) create_name,
                             f.CREATED_TIME
                           FROM  mp_staffcontract f
                           LEFT JOIN mp_staff s ON s.ID = f.SATFF_ID
                           where f.del_flag = 0
        )t where 1=1
         <if test="searchText != null">
             and CONCAT(
                t.staff_name,  t.staff_code,t.START_DATE,
                t.END_DATE,t.company,
                t.enableStatus,t.CONTRACT_TYPE,t.CONTRACT_PEIOD,
                t.PROBATION_MONTH,
                t.modifier_name,t.MODIFIED_TIME,
                t.create_name,t.CREATED_TIME
              )  LIKE concat('%',#{searchText},'%')
         </if>
     </select>


    <!-- 员工合同签订 -->
    <select id="findStaffContract" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffcontractDTO">
              select * from (
                   SELECT   s.id,
                            s.staff_name,
                            s.staff_code,
                            f.START_DATE,
                            f.END_DATE,
                            (
                            select c.COMPANY_NAME from mp_company c where c.id=f.COMPANY_CODE
                            ) company,
                            f.CONTRACT_ID	,
                            case when f.NEWEST = 0 then '否'
                            when  f.NEWEST = 1 then '是'
                            end enableStatus,
                            ( SELECT s.label FROM sys_dict_item s WHERE s.id = f.CONTRACT_TYPE and s.type='HTQXLX' ) CONTRACT_TYPE,
                            f.CONTRACT_PEIOD,
                            f.PROBATION_MONTH,
                            ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.MODIFIER_CODE ) modifier_name,
                            f.MODIFIED_TIME,
                            ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.CREATOR_CODE ) create_name,
                            f.CREATED_TIME
                            FROM  mp_staffcontract f
                            LEFT JOIN mp_staff s ON s.ID = f.SATFF_ID
                where f.del_flag = 0
        )t where 1=1
        <if test="searchText != null">
            and CONCAT(
                t.staff_name,  t.staff_code,t.START_DATE,
                t.END_DATE,t.company,
                t.enableStatus,t.CONTRACT_TYPE,t.CONTRACT_PEIOD,
                t.PROBATION_MONTH,
                t.modifier_name,t.MODIFIED_TIME,
                t.create_name,t.CREATED_TIME
            )  LIKE concat('%',#{searchText},'%')
        </if>
    </select>
</mapper>
