<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffPracticeMapper">


            <resultMap id="staffPracticeMap" type="net.herdao.hdp.manpower.mpclient.entity.StaffPractice">
                  <id property="id" column="id"/>
                  <result property="beginDate" column="begin_date"/>
                  <result property="endDate" column="end_date"/>
                  <result property="period" column="period"/>
                  <result property="groupName" column="group_name"/>
                  <result property="groupId" column="group_id"/>
                  <result property="corporationName" column="corporation_name"/>
                  <result property="corporationId" column="corporation_id"/>
                  <result property="departName" column="depart_name"/>
                  <result property="departId" column="depart_id"/>
                  <result property="plateId" column="plate_id"/>
                  <result property="pipeId" column="pipe_id"/>
                  <result property="postId" column="post_id"/>
                  <result property="jobLevel" column="job_level"/>
                  <result property="score" column="score"/>
                  <result property="evaluate" column="evaluate"/>
                  <result property="evaluateId" column="evaluate_id"/>
                  <result property="evaluateName" column="evaluate_name"/>
                  <result property="evaluateTime" column="evaluate_time"/>
                  <result property="creatorId" column="CREATOR_ID"/>
                  <result property="createdTime" column="CREATED_TIME"/>
                  <result property="modifierId" column="MODIFIER_ID"/>
                  <result property="modifiedTime" column="MODIFIED_TIME"/>
                  <result property="staffId" column="STAFF_ID"/>
                  <result property="field1" column="FIELD1"/>
                  <result property="field2" column="FIELD2"/>
                  <result property="field3" column="FIELD3"/>
                  <result property="field4" column="FIELD4"/>
                  <result property="field5" column="FIELD5"/>
                  <result property="delFlag" column="DEL_FLAG"/>
            </resultMap>

      <!-- 员工职称及职业资料分页 -->
      <select id="findStaffPractice"  resultType="net.herdao.hdp.manpower.mpclient.dto.StaffPracticeDto">
              SELECT  p.id,
                      p.begin_date,
                      p.end_date,
                      p.period,
                      p.group_name,
                      p.corporation_name,
                      (
                          SELECT org.ORG_NAME FROM mp_organization org WHERE org.id=p.depart_id
                      ) depart_name,
                      (
                          SELECT SECTION_NAME FROM mp_section sec WHERE sec.id= p.plate_id
                      ) plate_name,
                    (
                          SELECT pp.PIPELINE_NAME FROM mp_pipeline pp WHERE pp.id= p.pipe_id
                      ) pipe_name,
                      (
                          SELECT mp.POST_NAME from mp_post mp where mp.id=p.post_id
                      ) post_name,
                      (
                          SELECT j.JOB_LEVEL_NAME from  mp_job_level j WHERE j.id=p.job_level
                      ) job_level_name,
                      p.score,
                      p.evaluate,
                      p.evaluate_name,
                      p.evaluate_time
                  FROM
                      mp_staff_practice p
                       WHERE 1=1
                      and p.DEL_FLAG=0
                      and p.STAFF_ID=#{staffId}
        </select>
</mapper>
