<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, herdao All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the herdao.net developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: liang
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffPositiveApprovalMapper">

  <resultMap id="StaffPositiveApprovalMap" type="net.herdao.hdp.manpower.mpclient.entity.StaffPositiveApproval">

                  <id property="id" column="id"/>
                        <result property="oid" column="oid"/>
                        <result property="userId" column="user_id"/>
                        <result property="userOid" column="user_oid"/>
                        <result property="orgId" column="org_id"/>
                        <result property="orgOid" column="org_oid"/>
                        <result property="postId" column="post_id"/>
                        <result property="postOid" column="post_oid"/>
                        <result property="staffpositiveapplicationOid" column="StaffPositiveApplication_oid"/>
                        <result property="staffpositiveapplicationId" column="StaffPositiveApplication_id"/>
                        <result property="entryTime" column="entry_time"/>
                        <result property="positiveTime" column="positive_time"/>
                        <result property="previousMonthIncome" column="previous_month_income"/>
                        <result property="otherCosts" column="other_costs"/>
                        <result property="status" column="status"/>
                        <result property="remark" column="remark"/>
                        <result property="posExamScore" column="pos_exam_score"/>
                        <result property="yearPostPrepareCount" column="year_post_prepare_count"/>
                        <result property="monthPostPrepareCount" column="month_post_prepare_count"/>
                        <result property="postHasCount" column="post_has_count"/>
                        <result property="isPrepareChange" column="is_prepare_change"/>
                        <result property="beforePostId" column="before_post_id"/>
                        <result property="beforePostOid" column="before_post_oid"/>
                        <result property="nowYearPostPrepareCount" column="now_year_post_prepare_count"/>
                        <result property="nowMonthPostPrepareCount" column="now_month_post_prepare_count"/>
                        <result property="nowPostHasCount" column="now_post_has_count"/>
                        <result property="interviewsTime" column="interviews_time"/>
                        <result property="interviewsPlace" column="interviews_place"/>
                        <result property="entryLeader" column="entry_leader"/>
                        <result property="interviewsHost" column="interviews_host"/>
                        <result property="interviewsParticipants" column="interviews_participants"/>
                        <result property="recordMan" column="record_man"/>
                        <result property="positiveQuestionAns1" column="positive_question_ans1"/>
                        <result property="positiveQuestionAns2" column="positive_question_ans2"/>
                        <result property="positiveQuestionAns3" column="positive_question_ans3"/>
                        <result property="positiveQuestionAns4" column="positive_question_ans4"/>
                        <result property="positiveQuestionAns5" column="positive_question_ans5"/>
                        <result property="positiveQuestionAns6" column="positive_question_ans6"/>
                        <result property="positiveQuestionAns7" column="positive_question_ans7"/>
                        <result property="improveProposal" column="improve_proposal"/>
                        <result property="interviewSummary" column="interview_summary"/>
                        <result property="creatorCode" column="creator_code"/>
                        <result property="creatorName" column="creator_name"/>
                        <result property="creatorTime" column="creator_time"/>
                        <result property="modifierCode" column="modifier_code"/>
                        <result property="modifierName" column="modifier_name"/>
                        <result property="modifierTime" column="modifier_time"/>
                        <result property="field1" column="FIELD1"/>
                        <result property="field2" column="FIELD2"/>
                        <result property="field3" column="FIELD3"/>
                        <result property="field4" column="FIELD4"/>
                        <result property="field5" column="FIELD5"/>
                        <result property="tenantId" column="TENANT_ID"/>
                        <result property="delFlag" column="DEL_FLAG"/>
                        <result property="postOrgId" column="post_org_id"/>
                        <result property="certificateType" column="certificate_type"/>
                        <result property="certificateNo" column="certificate_no"/>
                        <result property="probation" column="probation"/>
            </resultMap>
    <select id="getPositiveApprovalPageInfo"
            resultType="net.herdao.hdp.manpower.mpclient.vo.staff.positive.StaffPositiveApprovalPage">
      SELECT
         mspa.id,
         mspa.user_id,
         s.staff_name,
         s.staff_code,
         s.entry_time,
         dt2.label as JOB_TYPE,
         s.company_seniority,
         mspa.positive_time,
         mspa.creator_time as creator_time,
         mspa.modifier_name,
         mspa.modifier_time,
         mspa.positive_type,
         mspa.status,
         norg.ORG_NAME as now_org_name,
         njl.JOB_LEVEL_NAME as now_JOB_LEVEL_NAME,
         np.POST_NAME now_post_name
      FROM mp_staff_positive_approval AS  mspa
      LEFT JOIN mp_staff s ON mspa.user_id = s.user_id
      LEFT JOIN mp_organization norg ON mspa.org_id = norg.id
      LEFT JOIN sys_dict_item dt2 ON s.JOB_TYPE = dt2.VALUE AND dt2.type = 'JOB_TYPE'
      LEFT JOIN mp_post np ON mspa.before_post_id = np.id
      LEFT JOIN mp_job_level njl ON mspa.now_job_level_id = njl.id
          <where>
                <if test="searchText != '' and searchText != null">
                      and
                      concat(
                      IFNULL(s.staff_name,''),
                      IFNULL(s.staff_code,''),
                      IFNULL(mspa.positive_time,''),
                      IFNULL(mspa.creator_time,''),
                      IFNULL(norg.ORG_NAME,''),
                      IFNULL(mspa.positive_type,''),
                      IFNULL(njl.JOB_LEVEL_NAME, ''),
                      IFNULL(np.POST_NAME,'')
                      ) LIKE concat(#{searchText},'%')
                </if>
                <if test="orgId != '' and orgId != null">
                      and norg.`id` = #{orgId}
                </if>
                <if test="status != '' and status != null">
                  and mspa.`status` = #{status}
                    <if test="status == 5">
                        and mspa.status = '5' or mspa.status = '6'
                    </if>
                </if>
                and mspa.`del_flag` = '0'
          </where>

    </select>
    <select id="getPositiveApprovalById"
            resultType="net.herdao.hdp.manpower.mpclient.dto.staffPositive.StaffPositiveApprovalDetailDTO">
    SELECT
        mspa.ENTRY_TIME AS entryTime,
        mspa.ENTRY_TIME AS tryTime,
        mspa.`user_id`,
        mspa.try_any_job_pay AS try_any_job_pay,
        mspa.`positive_question_ans1`,
        mspa.`positive_question_ans2`,
        mspa.`positive_question_ans3`,
        mspa.`positive_question_ans4`,
        mspa.`positive_question_ans5`,
        mspa.`positive_question_ans6`,
        mspa.positive_type AS positive_type,
        mpo.`POST_NAME` AS postName,
        np.POST_NAME AS now_post_name,
        mpo.`POST_NAME` AS old_post_name,
        ms.`STAFF_NAME` AS staff_name
        FROM
        mp_staff_positive_approval AS mspa
        LEFT JOIN mp_post AS np
        ON mspa.post_id = np.id
        LEFT JOIN `mp_post_org` AS mpo
        ON mspa.post_org_id = mpo.`ID`
        LEFT JOIN mp_staff AS ms
        ON mspa.user_id = ms.user_id
        <where>
            <if test="id != null">
                and mspa.id = #{id}
            </if>
        </where>
    </select>

</mapper>
