<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffPracticeMapper">


            <resultMap id="staffPracticeMap" type="net.herdao.hdp.manpower.mpclient.entity.StaffPractice">
                  <id property="id" column="id"/>
                  <result property="beginDate" column="begin_date"/>
                  <result property="endDate" column="end_date"/>
                  <result property="period" column="period"/>
                  <result property="groupName" column="group_name"/>
                  <result property="groupId" column="group_id"/>
                  <result property="corporationName" column="corporation_name"/>
                  <result property="corporationId" column="corporation_id"/>
                  <result property="departName" column="depart_name"/>
                  <result property="departId" column="depart_id"/>
                  <result property="plateId" column="plate_id"/>
                  <result property="pipeId" column="pipe_id"/>
                  <result property="postId" column="post_id"/>
                  <result property="jobLevel" column="job_level"/>
                  <result property="score" column="score"/>
                  <result property="evaluate" column="evaluate"/>
                  <result property="evaluateId" column="evaluate_id"/>
                  <result property="evaluateName" column="evaluate_name"/>
                  <result property="evaluateTime" column="evaluate_time"/>
                  <result property="creatorId" column="CREATOR_ID"/>
                  <result property="createdTime" column="CREATED_TIME"/>
                  <result property="modifierId" column="MODIFIER_ID"/>
                  <result property="modifiedTime" column="MODIFIED_TIME"/>
                  <result property="staffId" column="STAFF_ID"/>
                  <result property="field1" column="FIELD1"/>
                  <result property="field2" column="FIELD2"/>
                  <result property="field3" column="FIELD3"/>
                  <result property="field4" column="FIELD4"/>
                  <result property="field5" column="FIELD5"/>
                  <result property="delFlag" column="DEL_FLAG"/>
            </resultMap>

      <!-- 实习记录 -->
      <select id="findStaffPractice"  resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffPracticeDTO">
              SELECT  p.id,
            p.begin_date,
            p.end_date,
            p.period,
            p.group_name,
            p.corporation_name,
			p.depart_name,
			p.depart_id,
			p.plate_id sectionId,
			s.SECTION_NAME,
			p.pipe_id,
			pip.PIPELINE_NAME,
			p.post_id,
			po.POST_NAME,
			p.job_level jobLevelId,
			jl.JOB_LEVEL_NAME,											
            p.score,
            p.evaluate_id,
            p.evaluate_name,
            p.evaluate_time,
			p.STAFF_ID,
			p.field1,
			p.field2,
			p.field3,
			p.field4,
			p.field5
		FROM mp_staff_practice p
		left join mp_section s on p.plate_id=s.id
		left join mp_pipeline pip on pip.id=p.pipe_id
		left join mp_post po on po.id=p.post_id
		left join mp_job_level jl on jl.id=p.job_level
		WHERE 1=1
		and p.DEL_FLAG=0
        <if test="staffid != null">
            and p.STAFF_ID = #{staffid}
        </if>
        </select>
</mapper>
