<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffPromoteApproveMapper">

    <select id="findStaffPromotePage" resultType="net.herdao.hdp.manpower.mpclient.vo.staff.promote.StaffPromotePage">
        SELECT
        spa.id,
        spa.user_id,
        s.staff_name,
        s.staff_code,
        spa.promote_date,
        norg.ORG_NAME now_org_name,
        npo.POST_NAME now_post_org_name,
        njl.JOB_LEVEL_NAME now_job_level_name,
        porg.ORG_NAME promote_org_name,
        ppo.POST_NAME promote_post_org_name,
        pjl.JOB_LEVEL_NAME promote_job_level_name,
        spa.modifier_name,
        spa.modifier_time

        FROM mp_staff_promote_approve spa
        LEFT JOIN mp_staff s ON spa.user_id = s.user_id
        LEFT JOIN mp_organization norg ON spa.now_org_id = norg.id
        LEFT JOIN mp_post_org npo ON spa.now_post_org_id = npo.id
        LEFT JOIN mp_organization porg ON spa.promote_org_id = porg.id
        LEFT JOIN mp_post_org ppo ON spa.promote_post_org_id = ppo.id
        LEFT JOIN mp_job_level njl ON spa.now_job_level_id = njl.id
        LEFT JOIN mp_job_level pjl ON spa.promote_job_level_id = pjl.id

        <where>
            <if test="searchText != '' and searchText != null">
                and
                concat(
                IFNULL(s.staff_name, ''),
                IFNULL(s.staff_code, ''),
                IFNULL(spa.promote_date, ''),
                IFNULL(norg.ORG_NAME, ''),
                IFNULL(npo.POST_NAME, ''),
                IFNULL(njl.JOB_LEVEL_NAME, ''),
                IFNULL(porg.ORG_NAME, ''),
                IFNULL(ppo.POST_NAME, ''),
                IFNULL(pjl.JOB_LEVEL_NAME, '')
                ) LIKE concat(#{searchText},'%')
            </if>
            <if test="status != '' and status != null">
                and spa.`status` = #{status}
            </if>
            <if test="orgId != '' and orgId != null">
                and norg.`id` = #{orgId}
            </if>
            and spa.`del_flag` = '0'
        </where>
    </select>
</mapper>
