<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StafftransactionMapper">

      <resultMap id="stafftransactionMap" type="net.herdao.hdp.manpower.mpclient.entity.Stafftransaction">
            <id property="id" column="id"/>
            <result property="oid" column="OID"/>
            <result property="tranTime" column="TRAN_TIME"/>
            <result property="tranType" column="TRAN_TYPE"/>
            <result property="tranReason" column="TRAN_REASON"/>
            <result property="outUnitOid" column="OUT_UNIT_OID"/>
            <result property="comeUnitOid" column="COME_UNIT_OID"/>
            <result property="outUnitId" column="OUT_UNIT_ID"/>
            <result property="comeUnitId" column="COME_UNIT_ID"/>
            <result property="outUnitName" column="OUT_UNIT_NAME"/>
            <result property="comeUnitName" column="COME_UNIT_NAME"/>
            <result property="outGroupName" column="OUT_GROUP_NAME"/>
            <result property="comeGroupName" column="COME_GROUP_NAME"/>
            <result property="outCenterName" column="OUT_CENTER_NAME"/>
            <result property="comeCenterName" column="COME_CENTER_NAME"/>
            <result property="newest" column="NEWEST"/>
            <result property="createdCode" column="CREATED_CODE"/>
            <result property="createdTime" column="CREATED_TIME"/>
            <result property="createdName" column="CREATED_NAME"/>
            <result property="modifiedCode" column="MODIFIED_CODE"/>
            <result property="modifiedTime" column="MODIFIED_TIME"/>
            <result property="modifiedName" column="MODIFIED_NAME"/>
            <result property="orgDeptOid" column="ORG_DEPT_OID"/>
            <result property="postOid" column="POST_OID"/>
            <result property="staffOid" column="STAFF_OID"/>
            <result property="postId" column="POST_ID"/>
            <result property="staffId" column="STAFF_ID"/>
            <result property="tenantId" column="TENANT_ID"/>
            <result property="field1" column="FIELD1"/>
            <result property="field2" column="FIELD2"/>
            <result property="field3" column="FIELD3"/>
            <result property="field4" column="FIELD4"/>
            <result property="field5" column="FIELD5"/>
            <result property="delFlag" column="DEL_FLAG"/>
            <result property="createName" column="create_name"/>
      </resultMap>

      <!-- 员工异动情况分页-->
      <select id="findStaffTransPage" resultMap="stafftransactionMap">
            SELECT s.staff_name,
                   s.staff_code,
                   f.TRAN_TIME,
                   f.TRAN_TYPE,
                   f.TRAN_REASON,
                   f.OUT_UNIT_NAME,
                   f.COME_UNIT_NAME,
                   ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.CREATOR_CODE ) create_name,
                   f.CREATED_TIME
            FROM   mp_stafftransaction f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN mp_userpost u on u.USER_ID =s.USER_ID 	AND u.MAIN_POST = 1
            where 1=1
            <if test="orgId != null">
                  and u.ORG_DEPT_ID = #{orgId}
            </if>
            <if test="staffName != null">
                  or s.staff_name LIKE concat(#{staffName},'%')
            </if>
            <if test="staffCode != null">
                  or s.staff_code LIKE concat(#{staffCode},'%')
            </if>
       </select>


      <!-- 员工异动情况-->
      <select id="findStaffTrans" resultMap="stafftransactionMap">            SELECT s.staff_name,
            s.staff_code,
            f.TRAN_TIME,
            f.TRAN_TYPE,
            f.TRAN_REASON,
            f.OUT_UNIT_NAME,
            f.COME_UNIT_NAME,
            ( SELECT u.USER_NAME FROM mp_user u WHERE u.id = f.CREATOR_CODE ) create_name,
            f.CREATED_TIME
            FROM   mp_stafftransaction f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN mp_userpost u on u.USER_ID =s.USER_ID 	AND u.MAIN_POST = 1
            where 1=1
            <if test="orgId != null">
                  and u.ORG_DEPT_ID = #{orgId}
            </if>
            <if test="staffName != null">
                  or s.staff_name LIKE concat(#{staffName},'%')
            </if>
            <if test="staffCode != null">
                  or s.staff_code LIKE concat(#{staffCode},'%')
            </if>
      </select>
      
      
      <!-- 员工详情-员工异动情况-->
      <select id="findStaffTransByUserDetail" resultMap="stafftransactionMap">            
      SELECT 
            f.TRAN_TIME,
            f.TRAN_TYPE,
            f.TRAN_REASON,
            f.OUT_UNIT_NAME,
            f.COME_UNIT_NAME,
            f.CREATED_NAME,
            f.CREATED_TIME
            FROM   mp_stafftransaction f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN mp_userpost u on u.USER_ID =s.USER_ID 	AND u.MAIN_POST = 1
            where 1=1 and f.DEL_FLAG=0
            <if test="orgId != null">
                  and u.ORG_DEPT_ID = #{orgId}
            </if>
            <if test="staffName != null">
                  or s.staff_name LIKE concat(#{staffName},'%')
            </if>
            <if test="staffid != null">
                  or s.STAFF_ID = #{staffid}
            </if>
      </select>
      
      <!-- 员工详情-员工异动情况DTO lift-->
      <select id="findStafftransactionDto" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StafftransactionDTO">
      SELECT 
			f.id,
            f.TRAN_TIME,
			dic.label TRAN_TYPE,
            f.TRAN_REASON,
            f.OUT_UNIT_NAME,
            f.COME_UNIT_NAME,
            CONCAT(f.MODIFIED_NAME,'(',f.MODIFIED_CODE,')') MODIFIED_NAME,
            f.MODIFIED_TIME,
						f.FIELD1,
						f.FIELD2,
						f.FIELD3,
						f.FIELD4,
						f.FIELD5
            FROM   mp_stafftransaction f
						left join sys_dict_item dic on f.TRAN_TYPE=dic.value and dic.type='YDLX'
            where 1=1 and f.DEL_FLAG=0
            <if test="staffid != null">
            and f.STAFF_ID = #{staffid}
            </if>
      </select>
</mapper>
