<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffcontractMapper">
         <resultMap id="staffcontractMap" type="net.herdao.hdp.manpower.mpclient.entity.Staffcontract">
              <id property="id" column="id"/>
              <result property="oid" column="OID"/>
              <result property="startDate" column="START_DATE"/>
              <result property="endDate" column="END_DATE"/>
              <result property="companyCode" column="COMPANY_CODE"/>
              <result property="contractOid" column="CONTRACT_OID"/>
              <result property="contractId" column="CONTRACT_ID"/>
              <result property="probationMonth" column="PROBATION_MONTH"/>
              <result property="newest" column="NEWEST"/>
              <result property="contractType" column="CONTRACT_TYPE"/>
              <result property="contractPeriod" column="CONTRACT_PERIOD"/>
              <result property="liquidatedDamages" column="LIQUIDATED_DAMAGES"/>
              <result property="economicCompensation" column="ECONOMIC_COMPENSATION"/>
              <result property="removeContract" column="REMOVE_CONTRACT"/>
              <result property="removeOid" column="REMOVE_OID"/>
              <result property="staffOid" column="STAFF_OID"/>
              <result property="removeId" column="REMOVE_ID"/>
              <result property="staffId" column="STAFF_ID"/>
              <result property="creatorCode" column="CREATOR_CODE"/>
              <result property="createdTime" column="CREATED_TIME"/>
              <result property="modifierCode" column="MODIFIER_CODE"/>
              <result property="modifiedTime" column="MODIFIED_TIME"/>
              <result property="tenantId" column="TENANT_ID"/>
              <result property="field1" column="FIELD1"/>
              <result property="field2" column="FIELD2"/>
              <result property="field3" column="FIELD3"/>
              <result property="field4" column="FIELD4"/>
              <result property="field5" column="FIELD5"/>
              <result property="delFlag" column="DEL_FLAG"/>
        </resultMap>

     <!-- 员工合同签订分页 -->
     <select id="findStaffContractPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffcontractDTO">
          select     t.id,
                     t.staff_name,
                     t.staff_code,
                     t.START_DATE,
                     t.END_DATE,
                     t.company,
                     t.CONTRACT_ID,
                     t.enableStatus,
                     t.CONTRACT_TYPE,
                     t.CONTRACT_PERIOD,
                     t.PROBATION_MONTH,
                     t.modifier_name,
                     t.MODIFIED_TIME,
                     CONCAT(t.modifier_name, " 于 " ,t.MODIFIED_TIME," 更新") updateDesc
          from (
                     SELECT      s.id,
                     s.staff_name,
                     s.staff_code,
                     f.START_DATE,
                     f.END_DATE,
                     c.COMPANY_NAME company,
                     f.CONTRACT_ID	,
                     case when f.NEWEST = 0 then '否'
                     when  f.NEWEST = 1 then '是'
                     end enableStatus,
                     dic.label CONTRACT_TYPE,
                     f.CONTRACT_PERIOD,
                     f.PROBATION_MONTH,
                     u.USER_NAME  modifier_name,
                     f.MODIFIED_TIME
                     FROM  mp_staffcontract f
                     LEFT JOIN mp_staff s ON s.ID = f.STAFF_ID
                     LEFT JOIN mp_company c ON  c.id=f.COMPANY_CODE
                     LEFT JOIN sys_dict_item dic ON  dic.id = f.CONTRACT_TYPE and dic.type='HTQXLX'
                     LEFT JOIN mp_user u ON  u.id = f.MODIFIER_CODE
                     where f.del_flag = 0
         )t where 1=1
         <if test="searchText != null">
             and CONCAT(
                 IFNULL( t.staff_name,''),IFNULL( t.staff_code,''),IFNULL( t.START_DATE,''),
                 IFNULL( t.END_DATE,'') ,IFNULL( t.company,''),IFNULL( t.CONTRACT_ID,''),
                 IFNULL( t.enableStatus,'') ,IFNULL( t.CONTRACT_TYPE,''),IFNULL( t.CONTRACT_PERIOD,'') ,
                 IFNULL( t.PROBATION_MONTH,'') ,IFNULL( t.modifier_name,''),IFNULL( t.MODIFIED_TIME,'')
             )  LIKE concat('%',#{searchText},'%')
         </if>
      </select>


    <!-- 员工合同签订 -->
    <select id="findStaffContract" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffcontractDTO">
        select     t.id,
        t.staff_name,
        t.staff_code,
        t.START_DATE,
        t.END_DATE,
        t.company,
        t.CONTRACT_ID,
        t.enableStatus,
        t.CONTRACT_TYPE,
        t.CONTRACT_PERIOD,
        t.PROBATION_MONTH,
        t.modifier_name,
        t.MODIFIED_TIME,
        CONCAT(t.modifier_name, " 于 " ,t.MODIFIED_TIME," 更新") updateDesc
        from (
        SELECT      s.id,
        s.staff_name,
        s.staff_code,
        f.START_DATE,
        f.END_DATE,
        c.COMPANY_NAME company,
        f.CONTRACT_ID	,
        case when f.NEWEST = 0 then '否'
        when  f.NEWEST = 1 then '是'
        end enableStatus,
        dic.label CONTRACT_TYPE,
        f.CONTRACT_PERIOD,
        f.PROBATION_MONTH,
        u.USER_NAME  modifier_name,
        f.MODIFIED_TIME
        FROM  mp_staffcontract f
        LEFT JOIN mp_staff s ON s.ID = f.STAFF_ID
        LEFT JOIN mp_company c ON  c.id=f.COMPANY_CODE
        LEFT JOIN sys_dict_item dic ON  dic.id = f.CONTRACT_TYPE and dic.type='HTQXLX'
        LEFT JOIN mp_user u ON  u.id = f.MODIFIER_CODE
        where f.del_flag = 0
        )t where 1=1
        <if test="searchText != null">
            and CONCAT(
            IFNULL( t.staff_name,''),IFNULL( t.staff_code,''),IFNULL( t.START_DATE,''),
            IFNULL( t.END_DATE,'') ,IFNULL( t.company,''),IFNULL( t.CONTRACT_ID,''),
            IFNULL( t.enableStatus,'') ,IFNULL( t.CONTRACT_TYPE,''),IFNULL( t.CONTRACT_PERIOD,'') ,
            IFNULL( t.PROBATION_MONTH,'') ,IFNULL( t.modifier_name,''),IFNULL( t.MODIFIED_TIME,'')
            )  LIKE concat('%',#{searchText},'%')
        </if>
    </select>
</mapper>
