<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffMapper">

  <resultMap id="staffMap" type="net.herdao.hdp.manpower.mpclient.entity.Staff">
       <id property="id" column="ID"/>
       <result property="userId" column="user_id"/>
       <result property="staffCode" column="STAFF_CODE"/>
       <result property="staffName" column="STAFF_NAME"/>
       <result property="personnelNature" column="PERSONNEL_NATURE"/>
       <result property="personnelType" column="PERSONNEL_TYPE"/>
       <result property="staffScope" column="STAFF_SCOPE"/>
       <result property="jobType" column="JOB_TYPE"/>
       <result property="actualJob" column="ACTUAL_JOB"/>
       <result property="actualCity" column="ACTUAL_CITY"/>
       <result property="sex" column="SEX"/>
       <result property="birthday" column="BIRTHDAY"/>
       <result property="country" column="COUNTRY"/>
       <result property="birthplace" column="BIRTHPLACE"/>
       <result property="nation" column="NATION"/>
       <result property="maritalStatus" column="MARITAL_STATUS"/>
       <result property="fertility" column="FERTILITY"/>
       <result property="healthStatus" column="HEALTH_STATUS"/>
       <result property="height" column="HEIGHT"/>
       <result property="weight" column="WEIGHT"/>
       <result property="politicsStatus" column="POLITICS_STATUS"/>
       <result property="educationDegree" column="EDUCATION_DEGREE"/>
       <result property="professional" column="PROFESSIONAL"/>
       <result property="graduatedFrom" column="GRADUATED_FROM"/>
       <result property="graduatedTime" column="GRADUATED_TIME"/>
       <result property="workDate" column="WORK_DATE"/>
       <result property="workSeniority" column="WORK_SENIORITY"/>
       <result property="entryTime" column="ENTRY_TIME"/>
       <result property="companySeniority" column="COMPANY_SENIORITY"/>
       <result property="entryThreeGroupsTime" column="ENTRY_THREE_GROUPS_TIME"/>
       <result property="threeGroupsSeniority" column="THREE_GROUPS_SENIORITY"/>
       <result property="goalPosts" column="GOAL_POSTS"/>
       <result property="currAddress" column="CURR_ADDRESS"/>
       <result property="postCode" column="POST_CODE"/>
       <result property="province" column="PROVINCE"/>
       <result property="city" column="CITY"/>
       <result property="accountAddress" column="ACCOUNT_ADDRESS"/>
       <result property="accountType" column="ACCOUNT_TYPE"/>
       <result property="email" column="EMAIL"/>
       <result property="idNumber" column="ID_NUMBER"/>
       <result property="homePhone" column="HOME_PHONE"/>
       <result property="mobile" column="MOBILE"/>
       <result property="officePhone" column="OFFICE_PHONE"/>
       <result property="emergencyContacts" column="EMERGENCY_CONTACTS"/>
       <result property="emergencyPhone" column="EMERGENCY_PHONE"/>
       <result property="interests" column="INTERESTS"/>
       <result property="specialty" column="SPECIALTY"/>
       <result property="characteristics" column="CHARACTERISTICS"/>
       <result property="advantage" column="ADVANTAGE"/>
       <result property="shortcoming" column="SHORTCOMING"/>
       <result property="professionalExperience" column="PROFESSIONAL_EXPERIENCE"/>
       <result property="managementExperience" column="MANAGEMENT_EXPERIENCE"/>
       <result property="realestateExperience" column="REALESTATE_EXPERIENCE"/>
       <result property="writingAbility" column="WRITING_ABILITY"/>
       <result property="professionalCompetence" column="PROFESSIONAL_COMPETENCE"/>
       <result property="management" column="MANAGEMENT"/>
       <result property="foreignLanguages" column="FOREIGN_LANGUAGES"/>
       <result property="computerProficiency" column="COMPUTER_PROFICIENCY"/>
       <result property="resources" column="RESOURCES"/>
       <result property="internalConnections" column="INTERNAL_CONNECTIONS"/>
       <result property="admissionGraduates" column="ADMISSION_GRADUATES"/>
       <result property="collectiveHouseholdsTime" column="COLLECTIVE_HOUSEHOLDS_TIME"/>
       <result property="archivesSituation" column="ARCHIVES_SITUATION"/>
       <result property="acceptedAssignment" column="ACCEPTED_ASSIGNMENT"/>
       <result property="assignmentLocations" column="ASSIGNMENT_LOCATIONS"/>
       <result property="bankName" column="BANK_NAME"/>
       <result property="bankAddress" column="BANK_ADDRESS"/>
       <result property="bankAccount" column="BANK_ACCOUNT"/>
       <result property="fundArchiveBankName" column="FUND_ARCHIVE_BANK_NAME"/>
       <result property="fundArchiveBankAccount" column="FUND_ARCHIVE_BANK_ACCOUNT"/>
       <result property="title" column="TITLE"/>
       <result property="assessmentUnit" column="ASSESSMENT_UNIT"/>
       <result property="professionalQualifications" column="PROFESSIONAL_QUALIFICATIONS"/>
       <result property="titleCode" column="TITLE_CODE"/>
       <result property="certificationTime" column="CERTIFICATION_TIME"/>
       <result property="qualificationUnit" column="QUALIFICATION_UNIT"/>
       <result property="contractCompany" column="CONTRACT_COMPANY"/>
       <result property="contractTerm" column="CONTRACT_TERM"/>
       <result property="paidUnit" column="PAID_UNIT"/>
       <result property="securityUnit" column="SECURITY_UNIT"/>
       <result property="fundUnit" column="FUND_UNIT"/>
       <result property="securityArchiveTime" column="SECURITY_ARCHIVE_TIME"/>
       <result property="fundArchiveTime" column="FUND_ARCHIVE_TIME"/>
       <result property="socialSecurityNumberpRovince" column="SOCIAL_SECURITY_NUMBERP_ROVINCE"/>
       <result property="socialSecurityNumberCity" column="SOCIAL_SECURITY_NUMBER_CITY"/>
       <result property="paySalaryType" column="PAY_SALARY_TYPE"/>
       <result property="funding" column="FUNDING"/>
       <result property="insurance" column="INSURANCE"/>
       <result property="welfare" column="WELFARE"/>
       <result property="securityType" column="SECURITY_TYPE"/>
       <result property="creatorId" column="CREATOR_ID"/>
       <result property="creatorName" column="CREATOR_NAME"/>
       <result property="createdTime" column="CREATED_TIME"/>
       <result property="modifierId" column="MODIFIER_ID"/>
       <result property="modifierName" column="MODIFIER_NAME"/>
       <result property="modifiedTime" column="MODIFIED_TIME"/>
       <result property="photoAddr" column="PHOTO_ADDR"/>
       <result property="remark" column="REMARK"/>
       <result property="noWorkingSeniority" column="NO_WORKING_SENIORITY"/>
       <result property="dueBankName" column="DUE_BANK_NAME"/>
       <result property="dueBankCode" column="DUE_BANK_CODE"/>
       <result property="dailyInspection" column="DAILY_INSPECTION"/>
       <result property="paySalaryUnit" column="PAY_SALARY_UNIT"/>
       <result property="paySecurityUnit" column="PAY_SECURITY_UNIT"/>
       <result property="payFundUnit" column="PAY_FUND_UNIT"/>
       <result property="insuredTime" column="INSURED_TIME"/>
       <result property="interruptYear" column="INTERRUPT_YEAR"/>
       <result property="field1" column="FIELD1"/>
       <result property="field2" column="FIELD2"/>
       <result property="field3" column="FIELD3"/>
       <result property="field4" column="FIELD4"/>
       <result property="field5" column="FIELD5"/>
       <result property="realWorkAge" column="real_work_age"/>
   </resultMap>

    <!-- 组织信息（组件） MAP -->
	<resultMap type="net.herdao.hdp.manpower.mpclient.vo.StaffOrganizationComponentVO" id="organizationComponentMap">
		<result column="id" property="id" />
		<result column="orgName" property="org_name" />
		<result column="orgCode" property="org_code" />
		<result column="leafNode" property="leaf_node" />
		<result column="parentOrgName" property="parent_org_name" />
		<result column="parentOrgCode" property="parent_org_code" />
	</resultMap>
	
	<!-- 人员信息组件MAP -->
	<resultMap type="net.herdao.hdp.manpower.mpclient.vo.StaffComponentVO" id="staffComponentMap">
		<result column="id" property="id"/>
		<result column="staffName" property="staff_name"/>
		<result column="staffCode" property="staff_code"/>
		<result column="orgCode" property="org_code" />
		<result column="orgName" property="org_name" />
		<result column="parentOrgName" property="parent_org_name" />
		<result column="parentOrgCode" property="parent_org_code" />
		<result column="postCode" property="post_code" />
		<result column="postName" property="post_name" />
	</resultMap>
	
	<!-- 统计部门/组织下的人员数（包括子部门/子组织人员） -->
	<resultMap type="net.herdao.hdp.manpower.mpclient.vo.StaffTotalComponentVO" id="staffTotalMap">
		<result column="orgCode" property="org_code" />
		<result column="total" property="total" />
	</resultMap>
	
	<!-- 员工组件 sql -->
	<sql id="selectOrganizationComponentSql">
		SELECT 
			org.id,
			org.org_name, 
			org.org_code,
			CASE IFNULL(nbs, 0) WHEN 0 THEN 1 ELSE 0 END leaf_node,
		    orgp.org_name AS parent_org_name, 
			orgp.org_code AS parent_org_code
		FROM mp_organization org LEFT JOIN mp_organization orgp ON org.parent_id = orgp.id
		LEFT JOIN ( SELECT COUNT(1) nbs, orgd.parent_id FROM mp_organization orgd WHERE orgd.is_stop = 0 GROUP BY orgd.parent_id ) corg ON corg.parent_id = org.id 
		WHERE org.is_stop = 0
	</sql>
	
	<!-- 查询部门信息组件  -->
	<select id="selectOrganizations" resultMap="organizationComponentMap">
		<include refid="selectOrganizationComponentSql"></include>
		AND org.parent_id IS NULL
	</select>
	
	<!-- 查询子组织信息 -->
	<select id="selectOrganizationComponentList" resultMap="organizationComponentMap">
		<include refid="selectOrganizationComponentSql"></include>
		<if test="orgCode != null">
			AND orgp.org_code = #{orgCode}
		</if>
	</select>
	
	<!-- 统计组织下的人员数 （包括下级组织人员）-->
	<select id="getStaffTotals" resultMap="staffTotalMap">
		SELECT 
			count(sf.staff_code) AS total,
			org.org_code
		FROM mp_staff sf
		INNER JOIN mp_userpost ut ON sf.user_id = ut.user_id
		INNER JOIN mp_organization org ON org.id = ut.org_dept_id
		<where>
			<if test="orgCode != null">
				 org.org_code LIKE CONCAT(#{orgCode},'%')
			</if>
		</where>
		GROUP BY org.org_code
	</select>
	
	<!-- 查询组织下所有人员信息 -->
	<select id="selectStaffs" resultMap="staffComponentMap">
		SELECT 
			sf.id, 
			sf.staff_name, 
			sf.staff_code, 
			org.org_code,
			org.org_name,
			orgp.org_code AS parent_org_code,
			orgp.org_name AS parent_org_name,
			ps.post_code,
			ps.post_name
		FROM mp_staff sf
		INNER JOIN mp_userpost ut ON sf.user_id = ut.user_id
		INNER JOIN mp_organization org ON org.id = ut.org_dept_id
		INNER JOIN mp_post ps ON ps.id = ut.post_id
		LEFT JOIN mp_organization orgp ON org.parent_id = orgp.id
		<where>
			AND ut.office_post_type = '1'
			<if test="orgCode != null">
				AND org.org_code = #{orgCode}
			</if>
			<if test="searchText != null">
				AND sf.staff_name LIKE CONCAT(#{searchText},'%')
			</if>
		</where>
	</select>
	
	<!-- 查询员工工龄信息 -->
 	<select id="getStaffWorkYear" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffWorkYearDTO">
 		SELECT
 			sf.work_date,
			FLOOR(datediff(now(),sf.work_Date)/365) work_seniority,
			sf.entry_time,
			FLOOR(datediff(now(),sf.ENTRY_TIME)/365) company_seniority,
			sf.entry_three_groups_time,
			FLOOR(datediff(now(),sf.ENTRY_THREE_GROUPS_TIME)/365) three_groups_seniority,
			sf.no_working_seniority,
			FLOOR(datediff(now(),sf.work_Date)/365-sf.NO_WORKING_SENIORITY) reality_working_seniority,
			sf.ID staffid
 		FROM mp_staff sf
 		where 1=1
 		<if test="staffid != null">
			and sf.ID = #{staffid}
		</if>
 	</select>

    <!-- 查询员工基本信息 -->
    <select id="getStaffBase" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffBaseDTO">
        SELECT
            f.ID,
            u.IS_STOP,
            o.ORG_NAME,
            p.POST_NAME,
            dt.label JOB_TYPE_NAME
        FROM
            mp_staff f
        LEFT JOIN mp_user u ON f.user_id = u.ID
        LEFT JOIN mp_organization o ON u.ORG_DEPT_ID = o.ID
        LEFT JOIN (
                SELECT
                    *
                FROM
                    mp_userpost
                WHERE
                    MAIN_POST = TRUE
            ) up ON u.ID = up.USER_ID
        LEFT JOIN mp_post p ON p.ID = up.POST_ID
        LEFT JOIN sys_dict_item dt ON f.JOB_TYPE = dt.value
            AND dt.type = 'JOB_TYPE'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工个人档案 -->
    <select id="getStaffArchive" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffArchiveDTO">
        SELECT
            dt1.label JOB_TYPE_NAME,
            dt2.label id_type_NAME,
            dt3.label STAFF_SCOPE_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.JOB_TYPE = dt1.VALUE
            AND dt1.type = 'JOB_TYPE'
        LEFT JOIN sys_dict_item dt2 ON f.id_type = dt2.VALUE
            AND dt2.type = 'ID_TYPE'
        LEFT JOIN sys_dict_item dt3 ON f.STAFF_SCOPE = dt3.VALUE
            AND dt3.type = 'RYGSFW'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工最高教育经历 -->
    <select id="getStaffEducationLast" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffEducationLastDTO">
        SELECT
            dt1.label LEARN_FORM_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.LEARN_FORM = dt1.VALUE
            AND dt1.type = 'XXXS'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工劳资情况 -->
    <select id="getStaffWelfare" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffWelfareDTO">
        SELECT
            dt1.label SECURITY_TYPE_NAME,
            dt2.label PAY_SALARY_TYPE_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.SECURITY_TYPE = dt1.VALUE
            AND dt1.type = 'SBLX'
        LEFT JOIN sys_dict_item dt2 ON f.PAY_SALARY_TYPE = dt2.VALUE
            AND dt2.type = 'GZFFFS'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工个人信息 -->
    <select id="getStaffInfo" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffInfoDTO">
        SELECT
            dt1.label SEX_NAME,
            dt2.label POLITICS_STATUS_NAME,
            dt3.label COUNTRY_NAME,
            dt4.label MARITAL_STATUS_NAME,
            dt5.label FERTILITY_NAME,
            dt6.label ACCOUNT_TYPE_NAME,
            dt7.label id_type_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.SEX = dt1.VALUE
            AND dt1.type = 'SEX'
        LEFT JOIN sys_dict_item dt2 ON f.POLITICS_STATUS = dt2.VALUE
            AND dt2.type = 'ZZMM'
		LEFT JOIN sys_dict_item dt3 ON f.COUNTRY = dt3.VALUE
            AND dt3.type = 'GJ'
        LEFT JOIN sys_dict_item dt4 ON f.MARITAL_STATUS = dt4.VALUE
            AND dt4.type = 'HYZK'
		LEFT JOIN sys_dict_item dt5 ON f.FERTILITY = dt5.VALUE
            AND dt5.type = 'SYZK'
        LEFT JOIN sys_dict_item dt6 ON f.ACCOUNT_TYPE = dt6.VALUE
            AND dt6.type = 'HKLX'
		LEFT JOIN sys_dict_item dt7 ON f.id_type = dt7.VALUE
            AND dt7.type = 'ID_TYPE'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工在职信息 -->
    <select id="getStaffJobInfo" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffJobInfoDTO">
        SELECT
            dt1.label JOB_TYPE_NAME,
            dt2.label PERSONNEL_NATURE_NAME,
            dt3.label STAFF_SCOPE_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.JOB_TYPE = dt1.VALUE
            AND dt1.type = 'JOB_TYPE'
        LEFT JOIN sys_dict_item dt2 ON f.PERSONNEL_NATURE = dt2.VALUE
            AND dt2.type = 'RYXZ'
		LEFT JOIN sys_dict_item dt3 ON f.STAFF_SCOPE = dt3.VALUE
            AND dt3.type = 'RYGSFW'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工社保信息 -->
    <select id="getStaffSecurity" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffSecurityDTO">
        SELECT
            dt1.label SECURITY_TYPE_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.SECURITY_TYPE = dt1.VALUE
            AND dt1.type = 'SBLX'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工薪资信息 -->
    <select id="getStaffSalary" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffSalaryDTO">
        SELECT
            dt1.label PAY_SALARY_TYPE_NAME
        FROM
            mp_staff f
        LEFT JOIN sys_dict_item dt1 ON f.PAY_SALARY_TYPE = dt1.VALUE
            AND dt1.type = 'GZFFFS'
        WHERE
            f.ID = #{id}
        LIMIT 1
    </select>

    <!-- 查询员工任职轨迹 -->
    <select id="getJobTravel" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffJobTravelDTO">
        SELECT
            st.id,
            st.STAFF_ID,
            dt.label TRAN_TYPE,
            st.TRAN_TIME,
            st.OUT_UNIT_NAME,
            st.OUT_CENTER_NAME,
            st.POST_ID,
            p.POST_NAME
        FROM
            mp_stafftransaction st
        LEFT JOIN mp_staff f ON st.STAFF_ID = f.ID
        LEFT JOIN mp_post p ON p.ID = st.POST_ID
        LEFT JOIN sys_dict_item dt ON dt.type = 'YDLX'
            AND dt.VALUE = st.TRAN_TYPE
        WHERE
            f.ID = #{id}
        ORDER BY
            st.TRAN_TIME
    </select>

    <!-- 花名册翻页列表 -->
    <select id="staffPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staff.StaffListDTO">
        SELECT
            f.ID,
            f.user_id,
            f.STAFF_NAME,
            f.STAFF_CODE,
            o.ORG_NAME,
            p.POST_NAME,
            p.SECTION_ID,
            p.PIPELINE_ID,
            p.JOB_LEVEL_ID1,
            f.ENTRY_TIME,
            f.regular_time,
            f.prob_period,
            o.org_charge_name,
            f.MOBILE,
            f.ID_NUMBER,
            f.NATION,
            f.MODIFIER_NAME,
            f.MODIFIED_TIME,
            f.BEGIN_DATE,
            f.END_DATE,
            f.EDUCATION_DEGREE,
            f.EDUCATION_QUA,
            f.SCHOOL_NAME,
            f.PROFESSIONAL,
            f.LEARN_FORM,
            dt1.label STAFF_SCOPE,
            dt2.label JOB_TYPE,
            dt3.label SEX,
            dt4.label FERTILITY,
            dt5.label MARITAL_STATUS,
            dt6.label ACCOUNT_TYPE,
            dt7.label COUNTRY
        FROM
            mp_staff f
        LEFT JOIN mp_user u ON f.user_id = u.ID
        LEFT JOIN mp_organization o ON u.ORG_DEPT_ID = o.ID
        LEFT JOIN (
                SELECT * FROM mp_userpost  WHERE MAIN_POST = TRUE
            ) up ON u.ID = up.USER_ID
        LEFT JOIN mp_post p ON p.ID = up.POST_ID
        LEFT JOIN sys_dict_item dt1 ON f.STAFF_SCOPE = dt1.VALUE
            AND dt1.type = 'RYGSFW'
        LEFT JOIN sys_dict_item dt2 ON f.JOB_TYPE = dt2.VALUE
            AND dt2.type = 'JOB_TYPE'
        LEFT JOIN sys_dict_item dt3 ON f.SEX = dt3.VALUE
            AND dt3.type = 'SEX'
        LEFT JOIN sys_dict_item dt4 ON f.FERTILITY = dt4.VALUE
            AND dt4.type = 'SYZK'
        LEFT JOIN sys_dict_item dt5 ON f.MARITAL_STATUS = dt5.VALUE
            AND dt5.type = 'HYZK'
        LEFT JOIN sys_dict_item dt6 ON f.ACCOUNT_TYPE = dt6.VALUE
            AND dt6.type = 'HKLX'
        LEFT JOIN sys_dict_item dt7 ON f.COUNTRY = dt7.VALUE
            AND dt7.type = 'GJ'
        <where>
            <if test="searchText != null">
                AND  CONCAT(f.STAFF_NAME,o.ORG_NAME,p.POST_NAME) like CONCAT('%',#{searchText},'%')
            </if>
            <if test="isStop != null">
                AND  u.IS_STOP = #{isStop}
            </if>
            <if test="jobType != null">
                AND  f.JOB_TYPE = #{jobType}
            </if>
            <if test="groupId != null">
                AND  p.GROUP_ID = #{groupId}
            </if>
            <if test="postId != null">
                AND  p.ID = #{postId}
            </if>
            <if test="pipelineId != null">
                AND  p.PIPELINE_ID = #{pipelineId}
            </if>
            <if test="sectionId != null">
                AND  p.SECTION_ID = #{sectionId}
            </if>
            <if test="jobLevelId1 != null">
                AND  p.JOB_LEVEL_ID1 = #{jobLevelId1}
            </if>
        </where>
    </select>
</mapper>
