<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffRewardsPulishmentsMapper">
    <resultMap id="staffRewardsPulishmentsMap" type="net.herdao.hdp.manpower.mpclient.entity.StaffRewardsPulishments">
            <id property="id" column="ID"/>
            <result property="type" column="type"/>
            <result property="content" column="content"/>
            <result property="amount" column="amount"/>
            <result property="reason" column="reason"/>
            <result property="remarks" column="remarks"/>
            <result property="creatorCode" column="CREATOR_CODE"/>
            <result property="createdTime" column="CREATED_TIME"/>
            <result property="modifierCode" column="MODIFIER_CODE"/>
            <result property="modifiedTime" column="MODIFIED_TIME"/>
            <result property="tenantId" column="TENANT_ID"/>
            <result property="field1" column="FIELD1"/>
            <result property="field2" column="FIELD2"/>
            <result property="field3" column="FIELD3"/>
            <result property="field4" column="FIELD4"/>
            <result property="field5" column="FIELD5"/>
            <result property="delFlag" column="DEL_FLAG"/>
            <result property="staffId" column="STAFF_ID"/>
            <result property="choice" column="choice"/>
            <result property="executeDate" column="execute_date"/>
    </resultMap>

    <!-- 员工奖惩情况分页 -->
    <select id="findStaffRpPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staffRp.StaffRpDTO">
        select  t.id,
                t.staff_name,
                t.staff_code,
                t.type,
                t.content,
                t.amount,
                t.reason,
                t.remarks,
                t.modifier_name,
                t.MODIFIED_TIME,
                t.choice,
                t.execute_date,
                t.staff_id,
                CONCAT(t.modifier_name, " 于 " ,t.MODIFIED_TIME," 更新") updateDesc
        from (
            SELECT  f.id,
                    s.staff_name,
                    s.staff_code,
                    dic.label type,
                    f.content,
                    f.amount,
                    f.reason,
                    f.remarks,
                    usr.USER_NAME modifier_name,
                    f.MODIFIED_TIME,
                    CASE
                    WHEN f.choice = 1 THEN
                    '奖励'
                    WHEN f.choice =2 THEN
                    '惩罚'
                    END choice,
                    f.execute_date,
                    f.staff_id
            FROM   mp_staff_rewards_pulishments f
            LEFT JOIN mp_staff s ON s.ID = f.staff_id
            LEFT JOIN sys_dict_item dic on dic.`value`=f.type and dic.type='YGJCLB'
            LEFT JOIN mp_user usr on usr.id=f.MODIFIER_CODE
            where f.del_flag=0
            order by f.CREATED_TIME desc
        )t where 1=1
        <if test="searchText != null">
            and CONCAT(
                 IFNULL(t.staff_name,'') ,IFNULL(t.staff_code,'') ,IFNULL(t.type,'') ,IFNULL(t.content,'') ,
                 IFNULL(t.amount,'') ,IFNULL( t.reason,''),IFNULL( t.remarks,'') ,IFNULL(t.modifier_name,'')  ,
                 IFNULL(t.MODIFIED_TIME,''), IFNULL(t.choice,'')
             ) LIKE concat('%',#{searchText},'%')
        </if>
    </select>

    <!-- 员工奖惩情况 -->
    <select id="findStaffRp" resultType="net.herdao.hdp.manpower.mpclient.dto.staffRp.StaffRpDTO">
        select  t.id,
                t.staff_name,
                t.staff_code,
                t.type,
                t.content,
                t.amount,
                t.reason,
                t.remarks,
                t.modifier_name,
                t.MODIFIED_TIME,
                t.choice,
                t.execute_date,
                t.staff_id,
                CONCAT(t.modifier_name, " 于 " ,t.MODIFIED_TIME," 更新") updateDesc
        from (
                SELECT  f.id,
                s.staff_name,
                s.staff_code,
                dic.label type,
                f.content,
                f.amount,
                f.reason,
                f.remarks,
                usr.USER_NAME modifier_name,
                f.MODIFIED_TIME,
                CASE
                WHEN f.choice = 1 THEN
                '奖励'
                WHEN f.choice =2 THEN
                '惩罚'
                END choice,
                f.execute_date,
                f.staff_id
                FROM   mp_staff_rewards_pulishments f
                LEFT JOIN mp_staff s ON s.ID = f.staff_id
                LEFT JOIN sys_dict_item dic on dic.`value`=f.type and dic.type='YGJCLB'
                LEFT JOIN mp_user usr on usr.id=f.MODIFIER_CODE
                where f.del_flag=0
                order by f.CREATED_TIME desc
        )t where 1=1
        <if test="searchText != null">
            and CONCAT(
                    IFNULL(t.staff_name,'') ,IFNULL(t.staff_code,'') ,IFNULL(t.type,'') ,IFNULL(t.content,'') ,
                    IFNULL(t.amount,'') ,IFNULL( t.reason,''),IFNULL( t.remarks,'') ,IFNULL(t.modifier_name,'')  ,
                    IFNULL(t.MODIFIED_TIME,''), IFNULL(t.choice,'')
            ) LIKE concat('%',#{searchText},'%')
        </if>
    </select>
</mapper>
