<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StaffTransferApproveMapper">

    <select id="findStaffTransferPage" resultType="net.herdao.hdp.manpower.mpclient.vo.staff.transfer.StaffTransferPageVO">
        SELECT
        	sta.id,
        	sta.user_id,
            s.staff_name,
            s.staff_code,
            sta.trans_start_date,
        	norg.ORG_NAME now_org_name,
            np.POST_NAME now_post_name,
        	torg.ORG_NAME trans_org_name,
        	tp.POST_NAME trans_post_name

        FROM mp_staff_transfer_approve sta
        LEFT JOIN mp_staff s ON sta.user_id = s.user_id
        LEFT JOIN mp_organization norg ON sta.now_org_id = norg.id
        LEFT JOIN mp_post np ON sta.now_post_id = np.id
        LEFT JOIN mp_organization torg ON sta.trans_org_id = torg.id
        LEFT JOIN mp_post tp ON sta.trans_post_id = tp.id

        <where>
            and transfer_type = '3'
            <if test="searchText != '' and searchText != null">
                and
                 concat(
                     IFNULL(s.staff_name,''),
                     IFNULL(s.staff_code,''),
                     IFNULL(sta.trans_start_date,''),
                     IFNULL(norg.ORG_NAME,''),
                     IFNULL(np.POST_NAME,''),
                     IFNULL(torg.ORG_NAME,''),
                     IFNULL(tp.POST_NAME,'')
                 ) LIKE concat(#{searchText},'%')
            </if>
            <if test="status != '' and status != null">
                and sta.`status` = #{status}
            </if>
            <if test="orgId != '' and orgId != null">
                and norg.`org_id` = #{orgId}
            </if>
            and sta.`del_flag` = '0'
        </where>
    </select>

    <select id="findStaffCallInAndCallOutPage" resultType="net.herdao.hdp.manpower.mpclient.vo.staff.call.StaffCallInAndCallOutPageVO">
        SELECT
        sta.id,
        sta.user_id,
        s.staff_name,
        s.staff_code,
        sta.trans_start_date,
        norg.ORG_NAME now_org_name,
        np.POST_NAME now_post_name,
        torg.ORG_NAME trans_org_name,
        tp.POST_NAME trans_post_name,
        njl.JOB_LEVEL_NAME now_job_level_name ,
        tjl.JOB_LEVEL_NAME trans_job_level_name

        FROM mp_staff_transfer_approve sta
        LEFT JOIN mp_staff s ON sta.user_id = s.user_id
        LEFT JOIN mp_organization norg ON sta.now_org_id = norg.id
        LEFT JOIN mp_post np ON sta.now_post_id = np.id
        LEFT JOIN mp_organization torg ON sta.trans_org_id = torg.id
        LEFT JOIN mp_post tp ON sta.trans_post_id = tp.id
        LEFT JOIN mp_job_level njl ON sta.now_job_level_id = njl.id
        LEFT JOIN mp_job_level tjl ON sta.trans_job_level_id = tjl.id

        <where>
            <if test="type == '5' and type != null">
                and transfer_type = '6' or transfer_type = '7'
            </if>
            <if test="type != '5' and type != null">
                and transfer_type = #{type}
            </if>

            <if test="searchText != '' and searchText != null">
                and
                concat(
                IFNULL(s.staff_name,''),
                IFNULL(s.staff_code,''),
                IFNULL(sta.trans_start_date,''),
                IFNULL(norg.ORG_NAME,''),
                IFNULL(np.POST_NAME,''),
                IFNULL(njl.JOB_LEVEL_NAME,''),
                IFNULL(torg.ORG_NAME,''),
                IFNULL(tp.POST_NAME,''),
                IFNULL(tjl.JOB_LEVEL_NAME,'')
                ) LIKE concat(#{searchText},'%')

            </if>
            <if test="status != '' and status != null">
                and sta.`status` = #{status}
            </if>
            <if test="orgId != '' and orgId != null">
                and norg.`org_id` = #{orgId}
            </if>
            and sta.`del_flag` = '0'
        </where>
    </select>

</mapper>
