<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.StafftrainMapper">
          <resultMap id="stafftrainMap" type="net.herdao.hdp.manpower.mpclient.entity.Stafftrain">
                  <id property="id" column="id"/>
                  <result property="staffTrainOid" column="staff_train_oid"/>
                  <result property="trainingTime" column="training_time"/>
                  <result property="trainingContent" column="training_content"/>
                  <result property="certificate" column="certificate"/>
                  <result property="organizer" column="organizer"/>
                  <result property="staffFk" column="staff_FK"/>
                  <result property="staffId" column="STAFF_ID"/>
                  <result property="creatorCode" column="CREATOR_CODE"/>
                  <result property="createdTime" column="CREATED_TIME"/>
                  <result property="modifierCode" column="MODIFIER_CODE"/>
                  <result property="modifiedTime" column="MODIFIED_TIME"/>
                  <result property="tenantId" column="TENANT_ID"/>
                  <result property="field1" column="FIELD1"/>
                  <result property="field2" column="FIELD2"/>
                  <result property="field3" column="FIELD3"/>
                  <result property="field4" column="FIELD4"/>
                  <result property="field5" column="FIELD5"/>
                  <result property="delFlag" column="DEL_FLAG"/>
                  <result property="beginTime" column="begin_time"/>
                  <result property="endTime" column="end_time"/>
                  <result property="trainPeriod" column="train_period"/>
                  <result property="trainLearnPeriod" column="train_learn_period"/>
                  <result property="trainType" column="train_type"/>
                  <result property="trainCompany" column="train_company"/>
                  <result property="score" column="score"/>
                  <result property="certificateName" column="certificate_name"/>
                  <result property="certificateCode" column="certificate_code"/>
                  <result property="operator" column="operator"/>
                  <result property="operatorTime" column="operator_time"/>
                  <result property="remarks" column="remarks"/>
                  <result property="trainLearnScore" column="train_learn_score"/>
          </resultMap>

      <!-- 员工培训分页-->
      <select id="findStaffTrainPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staffTrain.StafftrainDTO">
          SELECT  t.id,
                  t.staff_name,
                  t.staff_code,
                  t.begin_time,
                  t.end_time,
                  t.train_period,
                  t.train_learn_period,
                  t.train_learn_score,
                  t.score,
                  t.train_type,
                  t.train_company,
                  t.certificate_name,
                  t.certificate_code,
                  t.remarks,
                  CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc,
                  t.group_id,
                  t.GROUP_NAME
          FROM
          (
              SELECT  f.id,
                      s.staff_name,
                      s.staff_code,
                      f.begin_time,
                      f.end_time,
                      f.train_period,
                      f.train_learn_period,
                      f.train_learn_score,
                      f.score,
                      dic.label train_type,
                      f.train_company,
                      f.certificate_name,
                      f.certificate_code,
                      f.remarks,
                      usr.USER_NAME modifier_name,
                      f.MODIFIED_TIME,
                      f.STAFF_ID,
                      g.ID group_id,
                      g.GROUP_NAME
              FROM  mp_stafftrain f
              LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
              LEFT JOIN sys_dict_item dic ON dic.value = f.train_type AND dic.type = 'TRAIN_TYPE'
              LEFT JOIN mp_user usr ON usr.id = f.MODIFIER_CODE
              LEFT JOIN mp_userpost up ON s.USER_ID = up.USER_ID and up.MAIN_POST=1
              LEFT JOIN mp_post p ON p.ID = up.POST_ID
              LEFT JOIN mp_group g on p.GROUP_ID=g.ID
              WHERE
              f.del_flag = 0
              <if test="query.groupId != null">
                  and p.GROUP_ID = #{query.groupId}
              </if>
              ORDER BY f.CREATED_TIME desc
          ) t
          <where>
              <if test="searchText != null">
                  and CONCAT(
                          IFNULL(t.staff_name,''),
                          IFNULL(t.staff_code,''),
                          IFNULL(t.begin_time,''),
                          IFNULL(t.end_time,''),
                          IFNULL(t.train_period,''),
                          IFNULL(t.train_learn_period,''),
                          IFNULL(t.train_learn_score,''),
                          IFNULL(t.score,''),
                          IFNULL(t.train_type,''),
                          IFNULL(t.train_company,'') ,
                          IFNULL(t.certificate_name,''),
                          IFNULL(t.certificate_code,''),
                          IFNULL(t.remarks,'')
                  )  LIKE concat('%',#{searchText},'%')
              </if>
          </where>
    </select>

    <!-- 员工培训-->
    <select id="findStaffTrain" resultType="net.herdao.hdp.manpower.mpclient.dto.staffTrain.StafftrainDTO">
        SELECT  t.id,
                t.staff_name,
                t.staff_code,
                t.begin_time,
                t.end_time,
                t.train_period,
                t.train_learn_period,
                t.train_learn_score,
                t.score,
                t.train_type,
                t.train_company,
                t.certificate_name,
                t.certificate_code,
                t.remarks,
                CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc,
                t.group_id,
                t.GROUP_NAME
        FROM
        (
            SELECT  f.id,
                    s.staff_name,
                    s.staff_code,
                    f.begin_time,
                    f.end_time,
                    f.train_period,
                    f.train_learn_period,
                    f.train_learn_score,
                    f.score,
                    dic.label train_type,
                    f.train_company,
                    f.certificate_name,
                    f.certificate_code,
                    f.remarks,
                    usr.USER_NAME modifier_name,
                    f.MODIFIED_TIME,
                    f.STAFF_ID,
                    g.ID group_id,
                    g.GROUP_NAME
            FROM  mp_stafftrain f
            LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
            LEFT JOIN sys_dict_item dic ON dic.value = f.train_type AND dic.type = 'TRAIN_TYPE'
            LEFT JOIN mp_user usr ON usr.id = f.MODIFIER_CODE
            LEFT JOIN mp_userpost up ON s.USER_ID = up.USER_ID and up.MAIN_POST=1
            LEFT JOIN mp_post p ON p.ID = up.POST_ID
            LEFT JOIN mp_group g on p.GROUP_ID=g.ID
            WHERE  f.del_flag = 0
            <if test="query.groupId != null">
                and p.GROUP_ID = #{query.groupId}
            </if>
                ORDER BY f.CREATED_TIME desc
        ) t
        <where>
            <if test="searchText != null">
                and CONCAT(
                    IFNULL(t.staff_name,''),
                    IFNULL(t.staff_code,''),
                    IFNULL(t.begin_time,''),
                    IFNULL(t.end_time,''),
                    IFNULL(t.train_period,''),
                    IFNULL(t.train_learn_period,''),
                    IFNULL(t.train_learn_score,''),
                    IFNULL(t.score,''),
                    IFNULL(t.train_type,''),
                    IFNULL(t.train_company,'') ,
                    IFNULL(t.certificate_name,''),
                    IFNULL(t.certificate_code,''),
                    IFNULL(t.remarks,'')
                )  LIKE concat('%',#{searchText},'%')
            </if>
        </where>
    </select>
</mapper>
