<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.UserpostMapper">

  <resultMap id="userpostMap" type="net.herdao.hdp.manpower.mpclient.entity.Userpost">
          <id property="id" column="id"/>
          <result property="oid" column="OID"/>
          <result property="userOid" column="USER_OID"/>
          <result property="postOid" column="POST_OID"/>
          <result property="orgOid" column="ORG_OID"/>
          <result property="orgDeptOid" column="ORG_DEPT_OID"/>
          <result property="userId" column="USER_ID"/>
          <result property="postId" column="POST_ID"/>
          <result property="orgId" column="ORG_ID"/>
          <result property="orgDeptId" column="ORG_DEPT_ID"/>
          <result property="mainPost" column="MAIN_POST"/>
          <result property="actualJob" column="ACTUAL_JOB"/>
          <result property="creatorCode" column="CREATOR_CODE"/>
          <result property="createdTime" column="CREATED_TIME"/>
          <result property="modifierCode" column="MODIFIER_CODE"/>
          <result property="modifiedTime" column="MODIFIED_TIME"/>
          <result property="isVirtual" column="IS_VIRTUAL"/>
          <result property="startDate" column="START_DATE"/>
          <result property="endDate" column="END_DATE"/>
          <result property="administrativeLevel" column="ADMINISTRATIVE_LEVEL"/>
          <result property="tenantId" column="TENANT_ID"/>
          <result property="officePostType" column="office_post_type"/>
  </resultMap>

      <!-- 现任职情况 -->
      <select id="findUserPostNowPage" resultType="net.herdao.hdp.manpower.mpclient.dto.UserpostDTO">
          select * from (
                  SELECT  U.ID,
                          S.STAFF_NAME staffName,
                          S.STAFF_CODE staffCode,
                          u.START_DATE startDate,
                          a.ORG_NAME orgName,
                          sec.SECTION_NAME sectionName,
                          pi.PIPELINE_NAME pipelineName,
                          p.POST_NAME postName,
                          jl.JOB_LEVEL_NAME jobLevelName,
                          di.label customPost,
                          ( SELECT s.USER_NAME FROM mp_user s WHERE s.id = u.MODIFIER_CODE ) modifier_name,
                          u.MODIFIED_TIME
                          FROM  mp_userpost u
                          LEFT JOIN mp_staff s ON u.USER_ID = s.USER_ID
                          LEFT JOIN mp_organization a ON u.ORG_DEPT_ID = a.ID
                          LEFT JOIN mp_post p ON p.ID = u.POST_ID
                          LEFT JOIN mp_section sec ON sec.id = p.SECTION_ID
                          LEFT JOIN mp_pipeline pi ON pi.id = p.PIPELINE_ID
                          LEFT JOIN sys_dict_item di ON di.id = u.office_post_type
                          LEFT JOIN mp_job_level jl ON jl.JOB_LEVEL_CODE = P.JOB_LEVEL_ID1
                  WHERE  1 = 1
                  AND u.del_flag = 0
          )t where 1=1
              <if test="searchText != null">
                  and CONCAT(
                      t.staffName, t.staffCode,t.startDate,t.orgName,
                      t.sectionName,t.pipelineName,t.postName,t.jobLevelName,
                      t.customPost,t.modifier_name,t.MODIFIED_TIME
                  ) LIKE concat('%',#{searchText},'%')
              </if>
      </select>

    <!-- 现任职情况 -->
    <select id="findUserPostNow" resultType="net.herdao.hdp.manpower.mpclient.dto.UserpostDTO">
        SELECT  S.STAFF_NAME staffName,
                S.STAFF_CODE staffCode,
                u.START_DATE startDate,
                a.ORG_NAME orgName,
                sec.SECTION_NAME sectionName,
                pi.PIPELINE_NAME pipelineName,
                p.POST_NAME postName,
                jl.JOB_LEVEL_NAME jobLevelName,
                di.label customPost
          FROM  mp_userpost u
                INNER JOIN mp_staff s ON u.USER_ID = s.USER_ID
                LEFT JOIN mp_organization a ON u.ORG_DEPT_ID = a.ID
                LEFT JOIN mp_post p ON p.ID = u.POST_ID
                LEFT JOIN mp_section sec ON sec.id = p.SECTION_ID
                LEFT JOIN mp_pipeline pi ON pi.id = p.PIPELINE_ID
                LEFT JOIN sys_dict_item di ON di.id = u.office_post_type
                LEFT JOIN mp_job_level jl ON jl.JOB_LEVEL_CODE = P.JOB_LEVEL_ID1
                WHERE
            1 = 1
            AND u.del_flag = 0
            <if test="orgId != null">
                and u.ORG_DEPT_ID = #{orgId}
            </if>
            <if test="staffName != null">
                and s.staff_name LIKE concat(#{staffName},'%')
            </if>
            <if test="staffCode != null">
                and s.staff_code LIKE concat(#{staffCode},'%')
            </if>
            <if test="staffId != null">
                and s.id = #{staffId}
            </if>
    </select>

    <!-- 员工详情-工作情况-目前任职 -->
    <select id="findCurrentJob" resultType="net.herdao.hdp.manpower.mpclient.dto.UserpostDTO">
        SELECT  u.START_DATE startDate,
                u.END_DATE endDate,
                '' groupName,
                '' company,
                a.ORG_NAME deptName ,
                sec.SECTION_NAME  sectionName,
                pi.PIPELINE_NAME pipelineName,
                p.POST_NAME postName,
                jl.JOB_LEVEL_NAME jobLevelName,
                di.label customPost,
                pt.label officePostTypeName
        FROM  mp_userpost u
                INNER JOIN mp_staff st ON st.user_id = u.USER_ID AND u.MAIN_POST=1
                LEFT JOIN mp_organization a ON a.id = u.ORG_DEPT_ID
                LEFT JOIN mp_post p on p.ID=u.POST_ID
                LEFT JOIN mp_section sec on sec.id=p.SECTION_ID
                LEFT JOIN mp_pipeline pi on pi.id=p.PIPELINE_ID
                LEFT JOIN sys_dict_item  di on di.id= u.office_post_type
                LEFT JOIN mp_job_level jl on jl.JOB_LEVEL_CODE=P.JOB_LEVEL_ID1
				LEFT JOIN sys_dict_item pt on pt.type='OFFICE_POST_TYPE' and pt.value=u.OFFICE_POST_TYPE
         WHERE 1=1
        <if test="staffId != null">
            and st.id = #{staffId}
        </if>
    </select>




</mapper>
