<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.UserMapper">

  <resultMap id="userMap" type="net.herdao.hdp.manpower.mpclient.entity.User">
         <id property="id" column="ID"/>
               <result property="oid" column="OID"/>
               <result property="userName" column="USER_NAME"/>
               <result property="loginCode" column="LOGIN_CODE"/>
               <result property="password" column="PASSWORD"/>
               <result property="password2" column="PASSWORD2"/>
               <result property="orgOid" column="ORG_OID"/>
               <result property="orgId" column="ORG_ID"/>
               <result property="orgDeptOid" column="ORG_DEPT_OID"/>
               <result property="orgDeptId" column="ORG_DEPT_ID"/>
               <result property="isStop" column="IS_STOP"/>
               <result property="lastLoginTime" column="LAST_LOGIN_TIME"/>
               <result property="remark" column="REMARK"/>
               <result property="leaveTime" column="LEAVE_TIME"/>
               <result property="tenantId" column="TENANT_ID"/>
   </resultMap>
   
    <!-- 统计组织下 在职员工数 -->
    <select id="getCountUser" resultType="java.lang.Integer">
       SELECT  
		COUNT(us.id)
	   FROM mp_user us 
	   LEFT JOIN mp_organization org ON us.org_id = org.id
	   <where>
	  		 AND org.org_code LIKE CONCAT(#{orgCode},'%')
	  		 <if test="isStop != null">
	  		 	AND us.is_stop = #{isStop}
	  		 </if>
	   </where>
    </select>
    
    <!-- 获取员工信息 -->
    <select id="getUserMsg" resultType="net.herdao.hdp.manpower.mpclient.dto.comm.UserMsgDTO">
       select a.id,
       a.LOGIN_CODE staff_code,
       c.ORG_DEPT_ID org_id,
       d.ORG_FULLNAME org_name,
       c.post_id,
       c.post_org_id,
		case when po.post_name is null then e.POST_NAME else po.post_name end post_name,
		e.POST_LEVEL post_level,
		po.JOB_LEVEL_ID job_level_id,
		b.STAFF_SCOPE staff_scope,
		b.job_type,
		UNIX_TIMESTAMP(b.ENTRY_TIME) entry_time,
		b.sex,
		datediff(now(),b.BIRTHDAY)/365 age,
		b.BIRTHPLACE birthplace
		from mp_user a
		left join mp_staff b on a.id=b.user_id
		left join mp_userpost c on a.id=c.USER_ID and c.MAIN_POST=1
		left join mp_organization d on c.ORG_DEPT_ID=d.id
		left join mp_post e on c.POST_ID=e.id
		left join mp_post_org po on c.post_org_id=po.id
	   <where>
	  		 <if test="id != null">
	  		 	AND a.id=#{id}
	  		 </if>
	   </where>
    </select>
</mapper>
