<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.herdao.hdp.manpower.mpclient.mapper.WorkexperienceMapper">

      <resultMap id="workexperienceMap" type="net.herdao.hdp.manpower.mpclient.entity.Workexperience">
              <id property="id" column="ID"/>
              <result property="oid" column="OID"/>
              <result property="period" column="PERIOD"/>
              <result property="companyName" column="COMPANY_NAME"/>
              <result property="post" column="POST"/>
              <result property="unitNature" column="UNIT_NATURE"/>
              <result property="subordinates" column="SUBORDINATES"/>
              <result property="creatorCode" column="CREATOR_CODE"/>
              <result property="createdTime" column="CREATED_TIME"/>
              <result property="creatorName" column="CREATOR_NAME"/>
              <result property="staffOid" column="STAFF_OID"/>
              <result property="staffId" column="STAFF_ID"/>
              <result property="mainPerformance" column="MAIN_PERFORMANCE"/>
              <result property="role" column="ROLE"/>
              <result property="backgroundChecks" column="BACKGROUND_CHECKS"/>
              <result property="orgName" column="ORG_NAME"/>
              <result property="endDate" column="END_DATE"/>
              <result property="beginDate" column="BEGIN_DATE"/>
              <result property="tenantId" column="TENANT_ID"/>
              <result property="field1" column="FIELD1"/>
              <result property="field2" column="FIELD2"/>
              <result property="field3" column="FIELD3"/>
              <result property="field4" column="FIELD4"/>
              <result property="field5" column="FIELD5"/>
              <result property="delFlag" column="DEL_FLAG"/>
              <result property="modifierCode" column="MODIFIER_CODE"/>
              <result property="modifiedTime" column="MODIFIED_TIME"/>
              <result property="modifierName" column="modifier_name"/>
      </resultMap>

      <!-- 员工工作经历分页-->
      <select id="findStaffWorkPage" resultType="net.herdao.hdp.manpower.mpclient.dto.staffWork.WorkexperienceDTO">
           SELECT t.id,
                  t.staff_name,
                  t.staff_code,
                  t.BEGIN_DATE,
                  t.END_DATE,
                  t.COMPANY_NAME,
                  t.ORG_NAME,
                  t.POST,
                  t.MAIN_PERFORMANCE,
                  t.ROLE,
                  t.SUBORDINATES,
                  t.BACKGROUND_CHECKS,
                  CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc,
                  t.staff_id,
                  t.group_id,
                  t.GROUP_NAME
          from (
              SELECT  f.id,
                      s.staff_name,
                      s.staff_code,
                      f.BEGIN_DATE,
                      f.END_DATE,
                      f.COMPANY_NAME,
                      f.ORG_NAME,
                      f.POST,
                      f.MAIN_PERFORMANCE,
                      f.ROLE,
                      f.SUBORDINATES,
                      f.BACKGROUND_CHECKS,
                      f.modifier_name,
                      f.MODIFIED_TIME,
                      f.staff_id,
                      g.ID group_id,
                      g.GROUP_NAME
                FROM  mp_workexperience f
                      LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
                      LEFT JOIN mp_userpost up ON s.USER_ID = up.USER_ID and up.MAIN_POST=1
                      LEFT JOIN mp_post p ON p.ID = up.POST_ID
                      LEFT JOIN mp_group g on p.GROUP_ID=g.ID
        		  	LEFT JOIN mp_organization o ON up.ORG_DEPT_ID = o.ID
               where
                    f.DEL_FLAG = 0
                  <if test="groupId != null">
                      and p.GROUP_ID = #{query.groupId}
                  </if>
                  <if test="orgId != null">
		          	AND o.ORG_CODE like (select CONCAT(org.ORG_CODE,'%') from mp_organization org where org.id=#{orgId} limit 1)
		          </if>
                  ORDER BY f.CREATED_TIME desc
          )t
          <where>
              <if test="searchText != null and searchText !='' ">
                  and CONCAT(
                  IFNULL(t.staff_name,''), IFNULL(t.staff_code,''), IFNULL(t.BEGIN_DATE,''),IFNULL(t.END_DATE,''),
                  IFNULL(t.COMPANY_NAME,'') , IFNULL(t.ORG_NAME,''), IFNULL(t.POST,'') ,IFNULL(t.MAIN_PERFORMANCE,''),
                  IFNULL(t.ROLE,'') ,IFNULL(t.SUBORDINATES,''),IFNULL(t.BACKGROUND_CHECKS,''),
                  IFNULL(t.modifier_name,''),IFNULL(t.MODIFIED_TIME,'')
                  ) LIKE concat('%',#{searchText},'%')
              </if>
          </where>
      </select>

    <!-- 员工工作经历-->
    <select id="findStaffWork" resultType="net.herdao.hdp.manpower.mpclient.dto.staffWork.WorkexperienceDTO">
         SELECT t.id,
                t.staff_name,
                t.staff_code,
                t.BEGIN_DATE,
                t.END_DATE,
                t.COMPANY_NAME,
                t.ORG_NAME,
                t.POST,
                t.MAIN_PERFORMANCE,
                t.ROLE,
                t.SUBORDINATES,
                t.BACKGROUND_CHECKS,
                CONCAT( t.modifier_name, " 于 ", t.MODIFIED_TIME, " 更新" ) updateDesc
        from (
                SELECT  f.id,
                s.staff_name,
                s.staff_code,
                f.BEGIN_DATE,
                f.END_DATE,
                f.COMPANY_NAME,
                f.ORG_NAME,
                f.POST,
                f.MAIN_PERFORMANCE,
                f.ROLE,
                f.SUBORDINATES,
                f.BACKGROUND_CHECKS,
                f.modifier_name,
                f.MODIFIED_TIME
                FROM  mp_workexperience f
                LEFT JOIN mp_staff s ON s.ID = f.STAFF_id
               where 1=1
                 and f.DEL_FLAG = 0
                 <if test="staffId != null">
                    and f.staff_id = #{staffId}
                 </if>
                ORDER BY f.CREATED_TIME desc
        )t where 1=1
        <if test="searchText != null">
            and CONCAT(
                IFNULL(t.staff_name,''), IFNULL(t.staff_code,''), IFNULL(t.BEGIN_DATE,''),IFNULL(t.END_DATE,''),
                IFNULL(t.COMPANY_NAME,'') , IFNULL(t.ORG_NAME,''), IFNULL(t.POST,'') ,IFNULL(t.MAIN_PERFORMANCE,''),
                IFNULL(t.ROLE,'') ,IFNULL(t.SUBORDINATES,''),IFNULL(t.BACKGROUND_CHECKS,''),
                IFNULL(t.modifier_name,''),IFNULL(t.MODIFIED_TIME,'')
            ) LIKE concat('%',#{searchText},'%')
        </if>
    </select>
      
    <!-- 工作情况-员工工作经历-->
    <select id="findWorkexperienceDTO" resultType="net.herdao.hdp.manpower.mpclient.dto.staffWork.WorkexperienceDTO">
          SELECT  f.id,
                  f.BEGIN_DATE,
                  f.END_DATE,
                  f.COMPANY_NAME,
                  f.ORG_NAME,
                  f.POST,
                  f.MAIN_PERFORMANCE,
                  f.ROLE,
                  f.SUBORDINATES,
                  f.modifier_name,
                  f.MODIFIED_TIME,
                  f.FIELD1,
                  f.FIELD2,
				  f.FIELD3,
				  f.FIELD4,
				  f.FIELD5,
				  f.STAFF_ID staffid
            FROM mp_workexperience f
            <where>
            and f.DEL_FLAG=0
            </where>
            <if test="staffid != null">
            and f.STAFF_ID = #{staffid}
            </if>
    </select>
</mapper>
